[2020-04-15 14:09] ldworkin commented on #283
Thank you @lucapertile !

[2020-04-15 17:28] lena-kashtelyan commented on #293
@rinc5, ah of course, that makes sense. In case it helps, you can always quickly check what generation strategy you are using like so: `print(ax_client.generation_strategy)`, which will tell you some brief information on its steps, or examine its steps (`generation_strategy._steps`) for in-depth information about the steps.

Regarding whether you need the Sobol step: we use Sobol for the initial f

[2020-04-16 13:48] BCJuan opened #295 "Predict and select best point according to acquisition function [Question]"
Hello,

I predict mean and covariance for a group of new points as described in https://ax.dev/docs/models.html, that is:
[code]
Now, I want to select one of them according to an acquisition function, but I have not found them in Ax. I suppose I have to relay on Botorch. In the example given in Botorch for UCB:

[code]
they work directly with X instead of mean and covariance matrix. Also, I suppos

[2020-04-16 20:25] 2timesjay commented on #295
@BCJuan

Right now your best option is to predict the mean and variance and use these to manually compute the acquisition function (UCB in your example.

We are discussing how to extend our API to make this more convenient.

[2020-04-16 23:27] andyznew opened #296 "Ax does not enforce parameter_type"
When I run:
[code]
This succeeds. `ax_client.experiment.parameters['param_test3'].parameter_type` outputs `<ParameterType.INT: 1>`. I would expect for it to raise a `ValueError`, as happens when I directly create a `ChoiceParameter`.

[2020-04-17 08:44] rinc5 commented on #293
@lena-kashtelyan, `ax_client.generation_strategy` is useful! I could confirm the information very easy.

Thank you for teaching me the details of Sobol and `attach_trial` and `complete_trial` loop. I could understand more deeply. I omitted the Sobol step and no issue was occurred.

I could pass my factory function to generation strategy, but I got another error. I think that my custom kernel class

[2020-04-17 14:54] 2timesjay commented on #296
Hi @andyznew,

Thanks for bringing this up.

This is working as designed. At https://github.com/facebook/Ax/blob/master/ax/core/parameter.py#L360 we attempt to cast the argument. If this fails it will emit a ValueError. However, in your case both 1 and 2 will be cast as True which could be a difficult bug to track down.

We added this to avoid problems around int vs floats, and to enjoy the conven

[2020-04-17 15:29] lena-kashtelyan commented on #296
@andyznew, to build upon @2timesjay's response above, I'd like to also note that the key "parameter_type" is not used by the Ax Service API (`AxClient`). If you want to specify a parameter type in the Service API, as exemplified in our tutorial: https://ax.dev/tutorials/gpei_hartmann_service.html, you need to specify "value_type" as a string (you'll get an error message specifying all available op

[2020-04-17 15:43] lena-kashtelyan commented on #293
Please don't apologize, we are happy to help and this feedback is very useful! I'm happy the generation strategy is working for you! I'll defer to @Balandat to help out with the custom kernel setup, since we is more knowledgeable in that domain.

[2020-04-17 17:59] andyznew commented on #296
Gotcha, thanks for the help. Did not realize that the correct key was `value_type` rather than `parameter_type`. Yeah the `ChoiceParameter` does not error out with BOOL and int; I was playing around with Int and String instead when directly setting, which makes sense with casting.

[2020-04-17 17:59] #296 closed

[2020-04-17 18:24] andyznew opened #297 "Question about Supported Databases for Ax"
The homepage of Ax quotes "Support for industry-grade experimentation and optimization management, including MySQL storage." though I noticed that the tutorial https://ax.dev/tutorials/gpei_hartmann_service.html uses `db_settings = DBSettings(url="postgresql+psycopg2://sarah:c82i94d@ocalhost:5432/foobar")`. Does Ax support both MySQL and Postgres? Or is there a recommended DB.

[2020-04-17 18:58] 2timesjay commented on #289
Fixed by release 0.1.11

[2020-04-17 18:58] #289 closed

[2020-04-17 18:59] 2timesjay commented on #290
Fixed by release 0.1.11

[2020-04-17 18:59] #290 closed

[2020-04-17 18:59] 2timesjay commented on #284
Fixed by release 0.1.11

[2020-04-17 18:59] #284 closed

[2020-04-17 19:38] ldworkin commented on #297
Hi @andyznew ! We support both postgres and mysql.

Note that if you use postgres, you'll have to implement the workaround discussed here: https://github.com/facebook/Ax/issues/283#issuecomment-614031051

To use mysql, you can use a url like this: https://docs.sqlalchemy.org/en/13/core/engines.html#mysql

Let me know if you need further help!

[2020-04-17 19:38] #297 closed

[2020-04-17 20:03] andyznew opened #298 "Issue running create_all_tables on the pymysql dialect"
Running
[code]

Getting the following error

[code]

[2020-04-17 20:55] lena-kashtelyan commented on #287
Added a section on how to handle this exception to the bottom of the Service API tutorial in the freshly released stable version of Ax: https://ax.dev/tutorials/gpei_hartmann_service.html. There is more general information about parallelism in Service API in the tutorial now, too.

[2020-04-17 20:55] #287 closed

[2020-04-18 20:28] Balandat commented on #293
Hi @rinc5, this is a little down in the weeds, but for a multi-output model you'll have to make sure that the model returns a `MultiTaskMultivariateNormal` instead of a `MultivariateNormal` .

You may also want to use [`BatchedMultiOutputGPyTorchModel`](https://github.com/pytorch/botorch/blob/master/botorch/models/gpytorch.py#L188) if you are OK modeling your outputs independently (i.e. not accoun

[2020-04-19 14:10] BCJuan commented on #295
Ok. Will do. Thanks!

[2020-04-19 14:10] #295 closed

[2020-04-20 04:57] rinc5 commented on #293
@lena-kashtelyan , @Balandat , I appreciate your kindness.

Can I use `BatchedMultiOutputGPyTorchModel` or `SingleTaskGP` when the correlation is existing? There is a positive correlation between two metrics.

Passing RBF kernel as the `covar_module` to `SingleTaskGP` is easy and readable, so I changed my factory function like this:
[code]

But `RuntimeError` was occurred. What should I do to solv

[2020-04-20 15:34] Balandat commented on #293
This is about correlation in the observation noise, not about correlation of the metrics themselves. Even models that model the outputs independently will be able to model correlation between the metrics. More specifically, the assumption those will make that the observed function values (`f_1(x)`, `f_2(x)`) are *conditionally independent given `x`*.

Regarding the error:
This is b/c the model is

[2020-04-20 16:05] bitosky opened #299 "[Question] How to get best paramter if I use MultiObjective or ScalarizedObjective"
`get_best_parameters` is convenient to get the best paramters when tackling single-objective problem. But it can't get the best parameters from a multi-objective experiment.
[code]
It's there an API for geting the best parameters or Pareto front when using  MultiObjective or ScalarizedObjective?

[2020-04-20 17:27] stevemandala commented on #299
Hey @bitosky, thanks for reaching out. In the case of scalarized objectives, we should be able to report the trial with the best scalarized performance via `get_best_parameters()`, I'll dig into the issue a bit more to see how much work this would take.

[2020-04-20 19:59] Balandat commented on #299
We currently don't have functionality in place for getting Pareto frontiers, but we are working on that.

[2020-04-21 05:56] rinc5 commented on #293
Thank you for your explanation.
I could understand about the correlation. Assuming no correlation in the observation noise is OK in my case.

I also could understand the flow and inputs of `SingleTaskGP`. This is very helpful when understanding Ax and debugging.
And finally, the factory function for kernel has worked well!

But, `RuntimeError` was occurred in the factory function for acquisition f

[2020-04-21 18:41] 2timesjay commented on #298
All that create_all_tables does it test whether to throw an exception that's relevant to internal use cases. So directly call

`
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base(cls=SQABase)
Base.metadata.create_all(engine)
`

Let us know how this workaround goes.

[2020-04-22 18:32] andyznew commented on #298
Yeah that's basically the workaround I use; only thing is that you want to import Base from ax.storage.sqa_store.db rather than create a new declarative_base.

[2020-04-22 18:32] #298 closed

[2020-04-23 01:07] rinc5 commented on #293
Above `RuntimeError` was not occurred when I used a scalar value for `best_f`. Is this correct way? Should I pass only the max value of metric which I want to maximize to `best_f`?

I have another concern.
Ax's default kernel is Matern 5/2 and `Models.GPEI`'s acquisition function is Expected Improvement. So, I tried to optimize by using `MaternKernel` as kernel (`covar_module`) and `qExpectedImpro

[2020-04-23 02:41] Balandat commented on #293
So the `best_f` is always w.r.t. the objective you're considering (which is a scalar); in this case it would be the max across your `objective` evaluated on all previous observations.

You'd expect a some difference b/c the model is different. Note also that there is stochasticity in the optimization (from the model fitting, as well as from the acquisition function optimization). So to compare per

[2020-04-23 09:12] rinc5 commented on #293
Thank you for your quick response.

I understand that `best_f` depends on `objective`.

Of course, I must run the optimization loop many times when I compare these performances. I ran only 5 times. On the other hand almost result of `Models.GPEI` were within outcome constraint, the results of Matern + qNEI had never been within outcome constraint. I will run the optimization loop more time, but it

[2020-04-23 09:12] #293 closed

[2020-04-23 11:46] perspectivisme opened #302 "JSON save broken for botorch_methods"
Dear Ax project,

First of all, thank you for this very useful tool that is AX.

You have introduced new botorch generation strategies, such as Knowledge Gradients, on the 26th of Feb, available in ax.benchmark.botorch_methods

They execute perfectly, but unfortunately it is no longer possible to save the checkpoints using JSON.

How to reproduce:
* Take your Hartmann tutorial for services,
* add

[2020-04-23 17:01] stevemandala commented on #302
Hey @perspectivisme, I was able to reproduce the error thanks to your instructions. It appears we didn't add support for JSON encoding when we released these new generation strategies. I'll investigate to see what it would take to get this added.

[2020-04-23 19:14] stevemandala commented on #302
Update: Found the missing piece, it looks like the callable serialization hasn't been extended for the generation strategy kwargs, should be a relatively simple fix, should be able to get it out this week.

[2020-04-23 19:40] perspectivisme commented on #302
That's good news, thank you in advance!

[2020-04-24 10:29] wooohoooo commented on #242
@sdsingh thank you for your reply. I wasn't aware that Contextual Bandit Optimization is outside of Ax's scope. I know it's a long shot, but do you have a recommendation for a library that implements this, maybe one that works well with Ax?

[2020-04-24 17:39] sdsingh commented on #242
I've done work based on Carlos Riquelme's project (ICLR 2018): https://github.com/tensorflow/models/tree/master/research/deep_contextual_bandits

Incorporating with Ax should not be too difficult, we've used Ax in the past to tune reward functions in this library.

[2020-04-28 19:43] ibayer opened #305 "faster CI builds through optional dependencies"
Thanks for this great project!

After running some initial experiments we notices that some of our ci builds (docker) increased dramatically in size and also took much longer to run after adding ax as dependency.

The reason for this is somewhat obvious when considering the dependencies of ax.
The regular pytorch wheel is quite big (~500 mb) and even the cpu only version requires ~ 100 mb.

Only s

[2020-04-28 20:01] Balandat commented on #305
Yeah, unfortunately the pytorch binaries are massive, especially w/ GPU support.

Re GPU support: If you install torch prior to installing ax without GPU support, then ax should not install the pytorch GPU version. When installing with pip, you can use
[code]
That should cut things down pretty significantly.

Regarding installing without BoTorch support: At the current time, BoTorch is a hard depe

[2020-04-28 22:25] ibayer commented on #305
Thanks for your feedback.

Yes, I tried this already. It works for the pytorch dependency part. However since BoTorch doesn't have a cpu version (at least last time I checked) the torch gpu version is added anyway and nothing is gained. :-(

Understood, that's also the impression we got.

Could it be possible to replace BoTorch with something like a mock of the whole BoTorch library?

This could w

[2020-04-29 00:22] Balandat commented on #305
So botorch is platform / device agnostic, it is basically pure python (on top of pytorch). So whatever pytorch version you have will dictate whether BoTorch is GPU enabled or not. I particular, installing BoTorch should not re-install pytorch if already installed (GPU enabled or not).

I just checked (clean anaconda env on CentOS 7) that
[code]
indeed results in an install with the CPU-only varian

[2020-04-29 06:29] ibayer commented on #305
Maybe my package manager (poetry) tricked me if the install order of pytorch and BoTorch makes a difference. Getting 2 to work is already a huge step forward.  I'll try this again. Thanks for looking into it.

[2020-04-29 08:39] SebastianRiechert opened #306 "Visualization in tutorial not working in colab and remote setup"
I have tried running this tutorial both in google colab and in jupyterlab on a remote server setup.

https://ax.dev/tutorials/tune_cnn.html

Both times the render()-call returns an empty output.

This is the code, no changes from tutorial except installation of ax:

[code]

switching to classic jupyter notebook (in remote setup) as suggested in https://github.com/facebook/Ax/issues/94 doesn't chan

[2020-04-29 14:48] Balandat commented on #305
Hmm thinking about it, we actually use pytorch directly for the Sobol quasi-RNG: https://github.com/facebook/Ax/blob/master/ax/models/random/sobol.py#L17

So unfortunately it's not as straightforward as pulling out botorch.

[2020-04-30 16:16] adamobeng commented on #306
Thanks for flagging this, @SebastianRiechert! I've asked @2timesjay, who's most familiar with this part of the code, to look into it.

[2020-05-04 16:59] leopd opened #307 "Configure GP to run on GPU"
Howdy!  Is there an easy way (or a hard way) to configure Ax so that botorch runs on GPU?  I'm optimizing a cheap function with lots of trials, and so spending many hours of CPU time in total waiting for Ax to generate candidates.  Docs seem to say it's possible, but I haven't found anything straightforward like a 'device' flag.

I also know GPU's aren't magic bullets, so maybe this wouldn't get t

[2020-05-04 18:22] leopd opened #308 "RuntimeError: cholesky_cpu: U(63,63) is zero, singular U."
This is very similar to #99 but with newer versions of everything.  Again, trying to tune the hyperparameters of a neural net, and got this runtime error.

[code]

I have a lot of data that might be enough to reproduce the failure with some effort, but am likely missing a few key things.  When I turn it back on I'll make sure I capture the random seed, and turn up the auto-save frequency.

Here's

[2020-05-04 19:34] Balandat commented on #308
Hi @leopd, this error occurs because the train-train covariance matrix of the underlying GP model is badly conditioned. This can happen e.g. when there are ton of points in the training data that are clustered very closely together or even repeated. That in turn can happen if the model becomes very certain that a particular point is the best point.

From your log it seems there are a lot of 1000s

[2020-05-04 19:42] Balandat commented on #307
Hi @leopd, what API are you using (https://ax.dev/docs/api.html)? Ax certainly supports running on the GPU, but we may not expose this in a very convenient way for the simpler APIs at this point (which means we should fix that).

Yes, this can certainly help speed things up. For larger training data sizes we also use gpytorch's linear CG method for solving the linear system that only uses matrix-v

[2020-05-04 20:18] leopd commented on #307
I'm mostly using the "service API" but sometimes the "loop API" to get started.  Haven't really dug into the "developer API".

[2020-05-04 20:40] Balandat commented on #307
Got it. One user-facing solution here would be to just pass optional kwargs `torch_device` and `torch_dtype` into the `AxClient` constructor. Would that be reasonable?

Alternatively, once https://github.com/pytorch/pytorch/issues/27878 goes in, we can also have `AxClient` use the global context.

[2020-05-05 05:40] leopd commented on #308
That makes a lot of sense.  Thanks for the explanation.

[2020-05-05 15:16] lena-kashtelyan commented on #307
Hi, @leopd! Here is how you can set correct `torch_device` and `torch_dtype` for a Service API  (`AxClient`) optimization currently: https://gist.github.com/lena-kashtelyan/4ad4e19e8e8bb12de7ef5a27659625a2. I offer two solutions there, one a bit more principled and one a bit faster and hackier : )

We will also consider adding these settings to our user-facing APIs (e.g. as kwargs to `AxClient`, a

[2020-05-05 16:26] lena-kashtelyan commented on #307
Closing the issue as my notebook should cover the question asked; @leopd, feel free to reopen for any follow-up!

[2020-05-05 16:26] #307 closed

[2020-05-05 17:30] leopd commented on #308
I'm of the opinion that numeric stability by itself isn't worth a huge effort to fix when the underlying issue really comes down to operator error -- or put another way, that moving forwards appropriately really requires operator attention.  I think the most appropriate fix here might be a better error message saying something like "Perhaps one or more parameters has converged?"  Automated diagnos

[2020-05-05 17:32] ldworkin commented on #308
Agreed, cc @lena-kashtelyan , whom I was just discussing this with!

[2020-05-05 17:36] leopd commented on #307
Thanks, @lena-kashtelyan that's exactly what I need!

Something more convenient would be nice, but there's always a trade-off in added complexity when expanding the API surface.  Personally, I'd love to see pytorch/pytorch#27878 go in and make this universally configurable for all libraries not just this one.

[2020-05-05 19:16] Balandat commented on #308
@leopd, are you passing  `0.0` (noiseless) or `np.nan` as the sem back to the client in your optimization?

FWIW, I was digging into your logs and was trying hard to make the optimization to fail by repeating some arm with `fc_dim=1000` 100+ times, but I didn't get it to fail. Good news I guess?That makes me think that maybe this is just some very rare event driven by getting really unlucky in the

[2020-05-05 19:17] Balandat commented on #308
To be clear, that retrying should be handled internally by Ax and doesn't need to be visible to the user.

[2020-05-05 19:50] leopd commented on #308
I'm not passing either for SEM - just passing a float:

[code]
so whatever the default is.  My understanding from the docs is that this should cause the noise to be treated as a free parameter to optimize for.  This problem should not be treated as noiseless.

[2020-05-05 20:00] Balandat commented on #308
Yes, that will use the default behavior of inferring the noise level.

[2020-05-06 06:12] FriendLey commented on #274
@ldworkin

Any exact timeline on this? We are looking forward to it... Thank you.

[2020-05-06 14:53] ldworkin commented on #274
Hi @FriendLey ! Thanks for the reminder. Sorry for the delay -- we'll bump this up in priority and try to check this code in ASAP.

In the meantime, let me just share a gist with the method I'm planning on adding, so you can let me know if this is what you need: https://gist.github.com/ldworkin/80d80cb8e48001b51b9a61a6ef4810a2

Basically, you should be able to just pass in your dataframe as-is to

[2020-05-06 17:12] leopd opened #310 "How is hetereoskedasticity handled?"
I'm curious after our other discussion - how do you handle heteroskedasticity?  When the noise level is inferred, I'm assuming you treat the problem as homoskedastic, because otherwise the whole problem starts to seem under-specified.  But when the sem is passed in explicitly, what's your modeling approach?  Can you point to a paper on this?

[2020-05-06 17:16] leopd commented on #310
Hit send too soon as I think maybe I found the answer: https://botorch.org/api/models.html#heteropskedasticsingletaskgp ?  So is this effectively doing a multi-task GP where one output is the objective's mean and the other is the objective's variance?

[2020-05-06 17:40] Balandat commented on #310
So if the sem is passed in, then in Ax we use a `FixedNoiseGP` model, where we literally just use the sem directly, so instead of `K(X, X) + sigma^2I` we use `K(X, X) + diag(sem(X)^2)`.

The `HeteroskedasticSingleTaskGP` that you found is an advanced model that uses a GP to model the log-variances and uses the model predictions, so you'd have `K(X, X) + exp(GP_logvar(X))`. This GP together with th

[2020-05-07 13:50] Pzmijewski opened #311 "Added jitter of 1e-08 to the diagonal"
Hey,
i´m working on a simulation optimization with range and choice parameters using Ax. I´m getting the following warning, but the optimization is still running. The warning appears after 50 Sobol trials and  around 20 GPEI trials.
What does it mean?

Thank you!

[2020-05-07 16:16] ldworkin commented on #311
Hi @Pzmijewski ! Good question.

As part of the optimization, there's a step during model fitting / prediction where we attempt to perform a Cholesky decomposition of a matrix. This requires the matrix to be positive definite. If the matrix is not positive definite (as in your case), we add jitter to the covariance to make it more numerically stable.

If all goes well, this should allow us to proc

[2020-05-07 18:57] algharak opened #313 "Error Message:Specified maximum draws (10000) exhausted, without finding sufficiently many (1) candidates."
Trying to use Ax to fo hyperparameter tuning of an XGBOOST model with the following space:

Ax_par=[{"name": "max_depth",           "type": "choice",        "values": [6,7],   "value_type": "int"},
        {"name": "min_child_weight",    "type": "choice",        "values": [1,2],   "value_type": "int"}]

The following is the error message I received.  Any assistance you can provide will be great.
=

[2020-05-07 18:59] ldworkin commented on #313
Hi @algharak ! Can you provide a full code example that would allow me to reproduce this?

[2020-05-07 20:18] #311 closed

[2020-05-07 23:36] algharak commented on #313
Thanks for your quick response.  I did find out the problem and has to do with my choice of parameters.

[2020-05-08 19:58] stevemandala commented on #299
Support for best raw point selection was added in the aforementioned commit, should provide some basic support for this. Closing, but feel free to reopen if there are still issues.

[2020-05-08 19:58] #299 closed

[2020-05-09 22:46] KevinMusgrave opened #315 ""Contour" plot when optimizing 1 hyperparameter"
Is there a way to get a "contour" plot but for the case when you're optimizing just 1 hyperparameter? Something like this figure from the BayesianOptimization package:

![image](https://user-images.githubusercontent.com/2314891/81486825-9afdf000-9225-11ea-930d-f89e43aa9f28.png)

[2020-05-10 17:42] ksanjeevan commented on #87
@lena-kashtelyan any updates on this front? Specifically, on point 2? How can one obtained the best parameters and values from just an experiment object? Thanks!

[2020-05-11 13:14] ldworkin commented on #315
Hi @KevinMusgrave -- absolutely! I imagine you're looking for a slice plot: https://ax.dev/tutorials/visualizations.html#5.-Slice-plots

Let me know if that helps! (Ooc, did you not see that in the tutorial because it was farther down in the page from the contour plot? It should probably be right below/above it ...)

[2020-05-11 14:39] KevinMusgrave commented on #315
Ah my bad, I'm not sure why I missed that. Thanks!

[2020-05-11 14:39] #315 closed

[2020-05-11 16:59] leopd commented on #310
Thanks for the detailed explanation.

I'm afraid I'm not following the most-likely-heteroskedastic-gp approahc.  PR #250 seems to be about Raytune - is that the right PR?

[2020-05-11 18:25] ksanjeevan opened #316 "Logging doesn't propagate: trying to get all of ax messages to file"
I'm trying to run trials remotely and log the `ax` output to a file. From my main script I have:

[code]
In other libraries this is enough to have all the logging be propagated to the root and then since I've added the handler, push them to a file. But with `ax` the log file is empty. I can see all the `ax` logger names:

[code]
But adding a handler only works if I set it for each one individually

[2020-05-11 18:35] Balandat commented on #310
Ah sorry, the PR is on the botorch repo: https://github.com/pytorch/botorch/pull/250

[2020-05-11 18:48] Jakepodell commented on #316
Hi @ksanjeevan! Thanks for bringing this to our attention. We have a few ideas of what the problem might be, but we will need to look into this further to get you a reliable solution. Thanks for your patience while we work on getting you an answer here!

[2020-05-12 02:46] FriendLey opened #317 "`Experiment.fetch_data` raises error if using `CustomData`"
The Type of `Data` columns only support:
[code]
What should I do if I want to save other column type in Data for subsequent use?

[2020-05-12 16:29] ldworkin commented on #274
This is now in OSS as per above commit, so going to close out. Let us know if you have any other questions!

[2020-05-12 16:29] #274 closed

[2020-05-12 16:49] leopd commented on #310
Much better.  I'm gonna close this as I've learned what I wanted and don't see anything more actionable.  Thanks!

[2020-05-12 16:49] #310 closed

[2020-05-13 03:49] Mikemraz opened #320 "`best_parameters` as optimal ranges instead of single values"
I read about Ax in a post and I found it to be very powful. But I do have a question to raise. I found the analytical model _booth funciton_ is adopted as evaluation function in the **Getting Started** section. I wonder if we could use other customized models such as neural networks, GBM etc. with the goal to find the feature vector that can maximize the model output. If we can, is there a way tha

[2020-05-13 09:19] Pzmijewski opened #321 "Runtime increase with Choice Paramter"
Hello together,

i´m working on a Ax model with 4 Range Parameters and 1 Choice Parameter (8 values).
When i´m using the Range Parameters only, the runtime to generate a arm is good (using GP-EI). If i add the Choice Parameter it increases significant (up to 100 % - 150 %).
Later in our project we want to add more Choice Parameters so the runtime could be a big performance problem.

Is this "typic

[2020-05-13 16:28] Jakepodell commented on #321
Hi @Pzmijewski!

Thanks for bringing this to our attention. Would you mind sending a repro or code sample of what you're experiencing? It would help us a lot with the debugging process if we are able to see what you're seeing.

Thanks!

[2020-05-13 17:04] Jakepodell commented on #317
Hi @FriendLey!

We have the following function to create a custom data class: https://github.com/facebook/Ax/blob/master/ax/core/data.py#L263

Please let us know if this helps!

[2020-05-13 18:24] Jakepodell commented on #320
Hi @Mikemraz!

To start I recommend you take a look at the CNN tutorial on the ax website: https://ax.dev/tutorials/tune_cnn.html.

We only use the Booth function for a simple example, but one can optimize almost any function.

Ax does not support feature selection, so if that's what you're looking to do, that might not work. We can say for sure if you give us more information on what your search

[2020-05-14 01:09] rinc5 opened #323 "The results of Models.GPEI and qNEI are different"
Hello.

I mentioned the results of Models.GPEI and qNEI are different in #293.
I tried Models.GPEI and qNEI 100 times respectively. As a result, the mean of qNEI's result is 1.5 times as big as the mean of Models.GPEI's result. Those std are almost the same.

However, when I tried Models.GPEI and qNEI for [this Hartmann6](https://ax.dev/tutorials/gpei_hartmann_service.html), then there is no diffe

[2020-05-14 05:48] Mikemraz commented on #320
Thanks for you response @Jakepodell !

I realized I could use any ML modles to optimize my feature space. I had a test on sklearn's implementation of logstic regression and the results looks good to me.

FYI I was tring to find a feature vector (design choice) that can maximize the model output (user experience in this case). A ML model is already trained. So I mananged to use Ax to find the best

[2020-05-14 07:14] FriendLey commented on #317
@Jakepodell Thanks for your response.

If Using `CustomData`, The `fetch_data()` function of `Experiment` will error because it uses `Data.from_multiple_data()` function. Does it mean that we must override `fetch_data` in a subclass of `Experiment` when using `CustomData` class? This is not elegant if so.

[2020-05-14 12:25] Pzmijewski commented on #321
Hi @Jakepodell

we are using an api web service to do the evaluation. Further there was sensitive data in our original code, so i had to make a dummy which can be published. It is very close to the original. I hope it helps. :)

`from sty import fg, bg, ef, rs
import json
import numpy as np
import random
from ax.service.ax_client import AxClient
import time
import ax
import statistics
from ax impo

[2020-05-14 12:33] ldworkin commented on #308
So to summarize, I believe the takeaways here are:
1) Adding retrying internally in Ax (and have it increase jitter on each retry)
2) Surfacing a better error message in the case of this failure

[2020-05-14 13:56] Balandat commented on #323
It's hard to say whether your code "has a problem" from this.

Does this mean qNEI does better or worse. In other words, are you maximizing or minimizing?

Your model specification differs from the default one `Models.GPEI` uses (you can see those here: https://github.com/pytorch/botorch/blob/master/botorch/models/gp_regression.py#L112-L120) in a number of ways:
- your kernel does not use ARD, whe

[2020-05-14 14:45] Balandat commented on #308
So one other thing to worry about here is outliers in the data. See a histogram of the test_error from @leopd's log below:
![test_error_hist](https://user-images.githubusercontent.com/1605878/81947125-0b559a00-95b5-11ea-88c1-403a588a18d6.png)

The outlier values around 80, while not completely crazy, can really throw off the hyperparameter estimation of the GP model. If that happens the model is e

[2020-05-14 15:55] Balandat commented on #320
Sorry @Mikemraz, I have a hard time following this question. Are you interested in exploring the tradeoffs between multiple outcomes of interest? I.e., perform [Multi-objective_optimization](https://en.wikipedia.org/wiki/Multi-objective_optimization)?

[2020-05-14 16:39] Jakepodell commented on #321
Hi!

Thanks for the code sample. Off the top of our heads, we don't see any obvious reason for this slowdown, so we are going to have to investigate. We've added this to our queue and will be looking into it soon!

[2020-05-14 17:51] Jakepodell commented on #317
Hi!

Thanks for pointing this out- this is something that is on our queue of bugs to fix. In the meantime, you can subclass experiment as you mentioned, or write your own data fetching function and use [Experiment.attach_data] (https://github.com/facebook/Ax/blob/master/ax/core/experiment.py#L483).

Here is a working example of `CustomData.from_multiple_data` from one of our other projects:
[code]

[2020-05-15 02:35] Mikemraz commented on #320
Hi @Balandat

Sorry about the confusion. Imagine a scenario where the user experience is a function of many features, and I have already build a ML model to capture this relationship. Here I am trying to use Ax to find the feature vector(hopefully it is not a vector of fixed value but a vector of intervals) that can maximize the user experience variable.

Thanks for your patience！

[2020-05-15 04:26] Balandat commented on #320
So your ML model is `f: x -> y` and you just want to solve `max_x f(x)`? Sure, you could use Ax for that. But how costly is it to evaluate your model? If that's cheap then you might be able to just use a standard off-the-shelf optimization method (e.g CMA-ES, mulit-start L-BFGS if you have gradients, ...).

[2020-05-15 08:12] Mikemraz commented on #320
@Balandat Thanks for your valuable feedback! You are right about what I was trying to do. I have already get it run with the basic *optimize* API, here are my two concerns:
1. is it possible to obtain a less restricted _best_parameters_ soluton? Now the _best_parameters_ is a vector of fixed value that can maximize/minimize the objective. What if we prefer the predicted feature to be a range like

[2020-05-15 08:12] Mikemraz commented on #320
@Balandat Thanks for your valuable feedback! You are right about what I was trying to do. I have already get it run with the basic optimize API, here are my concern:
is it possible to obtain a less restricted best_parameters soluton? Now the best_parameters is a vector of fixed value that can maximize/minimize the objective. What if we prefer the predicted feature to be a range like [lower bound,

[2020-05-15 09:52] Pzmijewski commented on #321
Thanks for the support!

[2020-05-15 11:21] Pzmijewski opened #324 "Outcome Constraint does not apply correctly"
Hello,
i´m working on a model (see issue #321) with two noisy outcomes. The first one is the objective, the second one the constraint. I defined a outcome constraint similar to "Outcome2 >= 0.99".  Outcome2 can be a maximum of 1.0 as it is a percentage value.
While the GP-EI Optimization runs, the constraint does not apply correctly. The shown outcomes are close to 0.99, like 0.97 (+/- 0.15 SEM),

[2020-05-15 20:09] Jakepodell commented on #324
Hi @Pzmijewski ! This is a great question.

As we collect data near the constraint,  we will suggest arms that violate the constraint (it's unknowable a priori whether a candidate will violate the constraint or not).  If the constraint is binding (which it often is if there are real tradeoffs) then we will need to explore quite aggressively near the bound in order to get performance, so inevitably

[2020-05-16 12:52] ldworkin commented on #320
Ah, I understand the question now, thanks for clarifying! That's really interesting, I've never considered that use case before, but I see no reason why Ax _couldn't_ be generalized to support this. Our models are learning the relationship between parameter values and objective values, so it seems reasonable that we could determine the parameter value range resulting in an objective value between

[2020-05-16 12:56] ldworkin commented on #324
@Jakepodell  is right, and just to elaborate on this a bit:

We expect that we will suggest some arms that violate the constraint. If we knew ahead of time what arms would violate, we'd be done, and there would be no need to run the optimization!

If you have truly hard constraints that must _never_ be violated during the optimization, then Bayesian optimization with black box constraints is just

[2020-05-18 10:34] Pzmijewski commented on #324
Hi @Jakepodell,
hi @ldworkin,

thank you! I have now understood what it was all about. :-)

greetings
Philipp

[2020-05-18 10:34] #324 closed

[2020-05-18 23:46] rinc5 commented on #323
Thank you for your reply and sorry for the late reply.

I'm maximizing. But, I have an outcome constraint and the result that mentioned my question is about the outcome constraint objective. `Models.GPEI` is closer to the constraint than qNEI.

I understand why the different has occured. I didn't know `Models.GPEI` uses ARD. So, can I get the result of qNEI closer to `Models.GPEI` one if I use ARD

[2020-05-19 23:15] rinc5 commented on #323
I have an additional question.

I saw [this page](https://gpytorch.readthedocs.io/en/latest/kernels.html) and I understood that set `ard_num_dims` if I want to use ARD. Is this right? If so, what is base kernel of `Models.GPEI`?

I'd be happy when you point me out if I misunderstand.

[2020-05-20 19:01] ldworkin commented on #323
cc @Balandat for thoughts on the last two comments (fwiw I looked up the modopt oncall ... but it's you this week :))

[2020-05-20 20:00] Balandat commented on #323
Presumably that's just b/c of the difference in the models.

If you specify the model exactly the same then yes you should get the same results.

https://github.com/pytorch/botorch/blob/master/botorch/acquisition/monte_carlo.py#L190

Yes. The default kernel in `Models.GPEI` is the one of `SingleTaskGP`: https://github.com/pytorch/botorch/blob/master/botorch/models/gp_regression.py#L110-L120

[2020-05-25 07:16] lufol opened #326 "How to cite Ax?"
Is there any paper out that could be reference when using Ax?

[2020-05-25 16:10] eytan commented on #326
AE: A domain-agnostic platform for adaptive experimentation.
Eytan Bakshy, Lili Dworkin, Brian Karrer, Konstantin Kashin, Ben Letham, Ashwin Murthy, Shaun Singh. NeurIPS Systems for ML Workshop, 2018

Is probably your best bet. There is also cite

@article{balandat2019botorch,
  Author = {Balandat, Maximilian and Karrer, Brian and Jiang, Daniel R. and Daulton, Samuel and Letham, Benjamin and Wilso

[2020-05-25 19:25] lufol commented on #326
Thank you!

[2020-05-25 19:25] #326 closed

[2020-05-26 01:40] rinc5 commented on #323
Thank you for your reply.

I could finally get same result!
Also, I could get faster my `qNEI` by setting `prune_baseline`. (I'm sorry, I misunderstood about `prune_baseline`. I thought I must set data point to `prune_baseline`, but I just set `True`/`False`. Thanks your kindly explanation about it.)

I'm grateful for you always helping me out.

[2020-05-26 01:40] #323 closed

[2020-05-26 12:35] inkrement opened #327 "use parameter constraints to express conditional dependencies"
Some of my hyper parameters conditionally depend on other parameters. How can I restrict the search space such that these parameters are only checked if they are really needed? For example, I  want to optimise fasttext and there are some parameters (e.g., neg) specific to certain loss functions (i.e., negative sampling). Is it possible to consider them only those specific cases? Or do I have to ru

[2020-05-26 15:26] 2timesjay commented on #327
@inkrement thanks for using Ax.

Right now the most straightforward option is several separate optimizations, one for each loss and including the loss-specific parameters.

To make it more straightforward to compare arms and their results, you might include all unused parameters as "fixed" parameters (see https://ax.dev/tutorials/building_blocks.html#1.-Define-the-search-space). This won't hurt op

[2020-05-28 17:55] lena-kashtelyan commented on #327
Closing this to merge with #140, since that's the main issue we keep open for the hierarchical search spaces feature request. Information about your use case, @inkrement, would still help our future work on this, as @2timesjay suggested, so feel free to post it in this issue or in #140!

[2020-05-28 17:55] #327 closed

[2020-06-01 05:37] bitosky opened #329 "[Question] What's the difference between mark_failed and mark_abandoned a trial ?"
What's the difference between `mark_failed` and  `mark_abandoned` a trial ?
I'm going to use on of them when I get an awful result, but I don't know the difference between them.

[2020-06-01 15:00] lena-kashtelyan commented on #329
Hi, @bitosky! Here are our API docs on trial statuses: https://ax.dev/api/core.html#ax.core.base_trial.TrialStatus and a relevant section in our docs: https://ax.dev/docs/core.html#experiment-lifecycle.

In practice, a parameterization in an abandoned trial may never be re-suggested by our models (as we assume the user-made decision to abandon the trial was made for a reason), while a parameteriza

[2020-06-01 15:15] bitosky commented on #329
@lena-kashtelyan Thank you for answering my question. I think I should try `mark_abandoned`.

[2020-06-04 15:55] hanan-vian opened #330 "[Question] offline logged data, noisy evaluation, sticky decisions"
Thanks for releasing Ax, it seems like a useful platform.
- How can I warm-start a model with offline data which was already collected so I don't need to experiment from scratch, e.g. I have logged data in the form of time, parameters, outcome (which might be noisy).
- This leads me to the next questions: does Ax supports noisy outcomes? I mean the case where the function return is stochastic.
- L

[2020-06-04 19:11] hanan-vian commented on #330
@lena-kashtelyan

[2020-06-04 22:57] 2timesjay commented on #330
@hanan-vian

1) If you have known data with outcomes, you can use https://ax.dev/api/service.html#ax.service.ax_client.AxClient.attach_trial to add trials and "complete_trial" to add resulting outcomes.

In general you can also save and load experiments in JSON or relational dbs. https://ax.dev/tutorials/gpei_hartmann_service.html#7.-Save-/-reload-optimization-to-JSON-/-SQL

2) If your data is noi

[2020-06-05 19:03] #329 closed

[2020-06-07 06:15] hanan-vian commented on #330
I would like to use Ax.dev to optimize an online system (see https://research.fb.com/blog/2018/09/efficient-tuning-of-online-systems-using-bayesian-optimization/).
I would like to use offline data (1), at every setting the performance is stochastic, thus several samples are needed to estimate the real performance (2). Moreover, there is some cost in trying to change the settings at every time tick

[2020-06-14 15:07] Tandon-A commented on #140
This enhancement would be super helpful. I want to experiment with different learning rate schedulers, where the parameters used by some of the schedulers are different.

[2020-06-16 08:31] AlexanderKonstantinidis opened #332 "Visualizations do not appear inside my Jupyter Notebook -- without any error messages"
When running the tutorial that is provided in the github of the Project, everything goes well otherwise but the visualizations do not actually appear in my Jupyter Notebook.  I am not getting any error messages.

The Jupyter Notebook I am referring to can be downloaded here: https://github.com/facebook/Ax/blob/master/tutorials/visualizations.ipynb.

Could you please advise?

![image](https://user-

[2020-06-16 09:37] AlexanderKonstantinidis opened #333 "ModuleNotFoundError: No module named 'ax.plot'"
This is the message I get when I run: `from ax.plot.contour import plot_contour.
`
I can import ax without a problem though.  (import ax)

[2020-06-16 14:44] adamobeng commented on #332
Thanks for reporting this @AlexanderKonstantinidis! Could you say in which environment you're running this notebook (desktop OS, Google Colab, JupyterHub, etc.)?

[2020-06-16 14:44] adamobeng commented on #333
Thanks for reporting this @AlexanderKonstantinidis! How did you install ax, and which version are you running?

[2020-06-16 14:52] AlexanderKonstantinidis commented on #332
I am using my Notebook (Alienware) which has GPU and runs Windows 10.  I am using JupyterLab and Anaconda3.

Let me know if you need any more information.
________________________________
From: Adam Obeng <notifications@github.com>
Sent: Tuesday, June 16, 2020 5:44 PM
To: facebook/Ax <Ax@noreply.github.com>
Cc: Alexander_Konstantinidis <konstantinidis.alexander@outlook.com.gr>; Mention <mention@no

[2020-06-16 14:53] Balandat commented on #332
FWIW @chauhang mentioned an issue in other libraries where visualizations would not show when run inside a docker container, this could possibly be related.

[2020-06-16 15:02] AlexanderKonstantinidis commented on #333
Installed it through pip and the version is shown below:

(torch) C:\WINDOWS\system32>pip show ax
Name: ax
Version: 0.48.0
Summary: Ax - workflow apps builder
Home-page: https://github.com/enf644/ax
Author: Mikhail Marenov
Author-email: enf644@gmail.com
________________________________
From: Adam Obeng <notifications@github.com>
Sent: Tuesday, June 16, 2020 5:45 PM
To: facebook/Ax <Ax@noreply.gith

[2020-06-16 21:11] fatotoro commented on #333
Similar problem here. Ax 0.48 installed from pip following the suggested instruction.
If I run :
`from ax import optimize `

I get the following:
ImportError: cannot import name 'optimize' from 'ax' (unknown location)

If I run `import ax` no error is returned, but will still return error if trying to call ax.optimize.

Thanks for looking into this and please let me know if this should go to a sep

[2020-06-16 21:16] ldworkin commented on #332
@2timesjay , maybe you can grab this one?

[2020-06-16 21:24] lena-kashtelyan commented on #333
Hi, @fatotoro! I think you want to `pip install ax-platform`, not `ax`! Sorry for the confusion there.

[2020-06-16 21:25] #333 closed

[2020-06-22 19:23] 2timesjay commented on #321
@Pzmijewski

When a categorical choice parameter with K choices like yours is included in optimization, it is transformed using OneHotEncoder into K different parameters (in which the active choice parameter is set to 1 and all others are set to 0). This adds K parameters to the search space, substantially increasing the time to fit the model and generate new candidates.

Performance and speed wil

[2020-06-22 20:43] ldworkin commented on #321
Closing, since as per the above investigation we learned that this was expected behavior, and is not on our roadmap to address in the short term. Thanks @2timesjay !

[2020-06-22 20:43] #321 closed

[2020-06-23 11:26] cx1234paris opened #334 "Will it be possible to extract the maximum value of acquisition function for each optimization loop?"
Hello! I found that your Ax framework was really convenient and useful for my task of bayesian optimization. However, when I try to launch the optimization loop (get_botorch), I would like to extract the maximum value of acquisition function to monitor the change of it. Is it possible to extract this maximum value within this Ax framework? Thank you so much for your help!

[2020-06-23 14:51] ldworkin commented on #334
Hi @cx1234paris !

This isn't directly exposed through the API, but the Botorch model does return the acquisition function value here: https://github.com/facebook/Ax/blob/7af82212e0bea8f4a11a5aae8e8233185b931805/ax/models/torch/botorch.py#L373

And this value gets saved in the `gen_metadata` field on generator runs: https://github.com/facebook/Ax/blob/7af82212e0bea8f4a11a5aae8e8233185b931805/ax/mo

[2020-06-23 20:09] cx1234paris commented on #334
Thank you so much for your help! Now I could monitor the expected acquisition value to stop my loop automatically.  Besides, I still have a question, with the developer API will it be possible to use the analytical acquisition function (ex. analytical EI) ? Thank you

[2020-06-23 20:20] cx1234paris commented on #334
In fact, I just tried that if I could use an analytical AF by adding a kwarg in get_botorch() and defining a custom AF, but I found that the API only support types of MCAF, and to define an analytical AF I was confused by the parameters of 'objective_weights'

[2020-06-23 21:14] ldworkin commented on #334
Hi @cx1234paris ! Yea, unfortunately it's not straightforward to use an analytical AF at this time.

[2020-06-23 21:15] cx1234paris commented on #334
Thank you so much for your response! May be I will find another way. Good night!

[2020-06-24 11:33] ldworkin commented on #334
Great, will close this for now, please let us know if you have any other questions!

[2020-06-24 11:33] #334 closed

[2020-06-24 19:00] WolVecz opened #337 "Consistent (but random) InputDataError: Input data contains NaN values - Passing new trials to GP+EI"
Hello,

I have been playing with utilizing AX with the GP+EI Optimization and with Sklearn clustering functions. As part of this play, I have been utilizing AX to look at a large number of different clustering algorithms iteratively. I have consistently had the same error over and over (shown below), however it has also been highly random. While it occurs in ~19/20 runs that I have performed, it c

[2020-06-24 19:18] 2timesjay commented on #332
@AlexanderKonstantinidis

This is unfortunately a problem with all JupyterLab plotly plotting.

I was able to resolve it by following https://plotly.com/python/getting-started/#jupyterlab-support-python-35 and installing the jupyter labextension suggested.

Please let us know if this works for you.

Alternately, Jupyter Notebooks should not encounter this problem.

[2020-06-24 19:53] WolVecz commented on #337
Apparently float("inf") is not a recognized value in PyTorch.

[2020-06-24 19:53] #337 closed

[2020-06-24 19:59] ldworkin commented on #337
Oh wow, today I learned! Glad you were able to resolve this. Please let us know if you have any other questions.

[2020-06-25 17:53] chsher commented on #332
I am encountering the same visualization issue (render yields blank output, no error messages) when attempting to execute https://github.com/facebook/Ax/blob/master/tutorials/tune_cnn.ipynb in Google Colab. Could you kindly advise?

[2020-07-01 16:20] EricZLou commented on #302
Hey @perspectivisme -- just an update that the fix is on the master branch and will be included with the next stable release of Ax. Let us know if you run into anything else!

[2020-07-01 18:45] andyznew opened #341 "Unused variable in `choose_generation_strategy`"
`    no_max_parallelism: bool = False,` is not used in the code, a relic of the past (https://github.com/facebook/Ax/blob/master/ax/modelbridge/dispatch_utils.py#L125). Not really a blocking issue but probably a todo to get rid of sometime

[2020-07-01 20:30] Jakepodell commented on #341
This is a great call, thanks @andyznew for bringing this to our attention! :)

[2020-07-03 07:32] whimwang opened #342 "Sign of bias correction in 'relative' #164 #218"
https://github.com/facebook/Ax/blob/8b4046214857f7a0e66329e3119894230bb01789/ax/utils/stats/statstools.py#L164

I think the empirical means of 'm_t/m_c - 1' should be approximately normally distributed with mean
 [(mu_t - mu_c) / mu_c] + [(sigma_c)^2 * mu_t] / (mu_c)^3. The reasons are below.  Please let me know whether there is anything wrong in my proof. Thanks.

<img width="840" alt="WeChat563e

[2020-07-06 19:12] ddimmery commented on #342
Hi @whimwang , thanks for looking into this!

Your proof is correct, but, we _have_ g(T_n) (which is mean(x) / mean(y)) and we _want to know_ g(theta). So we need to move the m_x / m_y ^ 3 sigma_y^2 to the other side. This leaves us with g(theta) \approx g(T_n) -  m_x / m_y ^ 3 sigma_y^2. You can also verify this through a quick simulation in R:

[code]

The output is something like:
[code]

You c

[2020-07-06 23:37] #342 closed

[2020-07-12 20:59] theinlinaung2010 commented on #87
@lena-kashtelyan Have you got any updates on these features? I'm trying to do the same things.

[2020-07-13 16:21] lena-kashtelyan commented on #87
Hi, @ksanjeevan, @theinlinaung2010! Sorry to have missed your tags, the issue was closed so we weren't notified in time. Feel free to reopen the issue if there is a follow-up, in the future, to make sure we get back to you as soon as we can!

For #2, you can use [`get_best_parameters`](https://github.com/facebook/Ax/blob/5a0b294e443bf93ebd7170883aac265a9bf5ee6d/ax/service/utils/best_point.py#L97)

[2020-07-13 21:47] 2timesjay commented on #306
Hi @SebastianRiechert , the discussion on https://github.com/facebook/Ax/issues/332 covers the jupyterlab half of this issue.

To summarize, I was able to resolve it by following https://plotly.com/python/getting-started/#jupyterlab-support-python-35 and installing the jupyter labextension suggested.

colab is unknown.

[2020-07-13 21:48] 2timesjay commented on #332
@chsher #306 covers this issue - the answer for colab still isnt' known yet.

Closing and redirecting discussion to #306

[2020-07-13 21:48] #332 closed

[2020-07-13 23:30] lena-kashtelyan commented on #306
Closing as duplicate, let's direct all future discussion of this issue to #332.

[2020-07-14 03:14] 2timesjay commented on #306
Still investigating colab half of this issue.

[2020-07-14 20:46] lena-kashtelyan commented on #87
Closing since it appears that my last answer resolved the questions. @ksanjeevan, @theinlinaung2010, feel free to reopen if you have follow-ups!

[2020-07-16 19:13] rima2992 opened #343 "[Question]: Where do I find the y values of the observed points in bayesian optimization?"
I use the function "get_best_from_model_predictions" in every iteration of a bayesian optimization. I thought the corresponding y value would be found in the mean of the best point. After some point the x value doesn't change anymore, but the mean does, which makes me think it is not the y value, but really the mean of the GP. So where do I find the corresponding y value without going through the

[2020-07-16 19:28] #343 closed

[2020-07-16 19:28] rima2992 commented on #343
I found it. I should use "get_best_raw_objective_point" instead !

[2020-07-17 09:57] rima2992 opened #344 "[Question]: How to convert an array to an arm that would be the initial set?"
Hi,
ich want to fix the initial training set ([a,b,c ...]) and give it as a the first batch trial to the experiment. I would appreciate it if someone showed me how to do it.

[2020-07-17 15:10] lena-kashtelyan commented on #344
Hi, @rima2992! Which API are you using? It's instrumental for me to know that so I can help you figure out how to set the initial trial.

Can you also tell me a bit more about your experiment? Since you are using batch trials, I'm assuming you are running an adaptive A/B testing experiment? Do you have data for the initial set of parameter configurations you'd like to convert to arms?

[2020-07-17 18:02] lena-kashtelyan commented on #341
This is now fixed on the latest stable version, 0.1.14.

[2020-07-17 18:02] #341 closed

[2020-07-17 18:04] lena-kashtelyan commented on #302
@perspectivisme, this is now fixed on the latest stable version, 0.1.14.

[2020-07-17 18:04] #302 closed

[2020-07-17 20:58] 2timesjay commented on #330
@hanan-vian I'll give my best guess at answers, though I'll need more context in some cases.

(1) To use a surrogate source of information like simulated offline data to help you better run online experiments, follow our Multi-type optimization tutorial: https://ax.dev/tutorials/multi_task.html

(2) To reduce variance the best option is to make each trial you run actually dispatch multiple tests a

[2020-07-19 10:56] ilcord opened #345 "Integration with RayTune is currently somewhat broken (and so it the tutorial)"
I'm trying to set up a sobol+eb generation strategy and getting into some issues. Pretty sure I'm missing something very basic, so your help will be much appreciated.

Here's a snippet of what I'm trying to do:

[code]

I'm getting this exception:
[code]

I'm not sure where I should plug in the observation data, and what data exactly I should add.

[2020-07-19 18:51] eytan commented on #345
Somebody else on the team can answer your question about this exact error, but if you have many numerical parameters you should is there a reason you aren’t using the default EI searcher, which uses Bayesian optimization to efficiently infer what HP settings minimize your loss?  It will be substantially more efficient than any type of grid search—all you have to do is specify the parameters and th

[2020-07-20 09:24] ilcord commented on #345
Thanks for the clarification Eytan.

I did solve the issue at hand eventually, so I'll post the solution since I didn't find it anywhere in the documentation:

In my case of Sobol+EB (or the default Sobol+GP generation strategies), we have an initialization period (Sobol), followed by a more elaborate generation strategy that requires observation data (if I understand correctly, in the GP case, to

[2020-07-20 20:16] lena-kashtelyan commented on #345
Hi, @ilcord, just wanted to follow up with you regarding this issue, although I think you already resolved it. I'll keep this issue open for now as we do need to look into why a single call to `tune.run` does not result in correct propagation of data to our models. Your solution sounds like a great workaround in the meantime!

It would also help us if you let us know why you opted for EB instead o

[2020-07-20 20:59] ilcord commented on #345
@lena-kashtelyan , just out of curiosity :) Pretty sure It'll come in handy at some point. In the end, I did end up using the default GPEI strategy.

I just want to clarify the issue, since I tried to reproduce it and found that it happens only with a slight modification to the code I posted:
When using a hybrid generation strategy (like, sobol + GPEI), the first call to `ray.run()` will always us

[2020-07-22 11:02] LN5user opened #346 "[Question] Bandit Optimization using Thompson Sampling: Overestimation"
Hi guys,  would be very glad  if you can help me with  Bandit Optimization issue.
I have three arms with three mean accordingly:
arm_0  0.248503
arm_1  0.333333
arm_2  0.498498

After Thompson Sampling  the weights values are
arm_0: 0.0
arm_1: 0.0
arm_2: 1.0

I'm wondering why one arm gets 100 % and another two zero ? Even then the difference between means is not really significant ?

Can anybody

[2020-07-22 13:58] ldworkin commented on #346
Hi @LN5user ! Would you be able to give us a full code sample so we can repro?

[2020-07-23 00:24] yifeng-li commented on #299
Do you have this functionality now?

[2020-07-23 01:07] ldworkin commented on #299
cc @2timesjay

[2020-07-23 01:14] yifeng-li commented on #299
Currently, we need an Ax example just as simple as this: https://github.com/ppgaluzio/MOBOpt

[2020-07-23 06:01] LN5user commented on #346
Hello! Thank you for the quick response

**Metric:**
[code]

**Optimizer**

[code]

**Runner**

[code]

**Logging from Metric**
[code]

[2020-07-23 13:50] ldworkin commented on #346
Thanks! Assigning to @2timesjay  to try to repro / investigate.

[2020-07-23 14:37] 2timesjay commented on #299
@yifeng-li It's on the near-term roadmap. ETA late July/early August.

[2020-07-23 15:28] lena-kashtelyan commented on #345
@ilcord, gotcha, thank you!

[2020-07-23 15:36] yifeng-li commented on #299
Great! I am eagerly looking forward to this component. If would be nice if your future function can allow initialization of a user-specified set of data points {x_n,y_n}_n^N where x_n is a vector and y_n is also a vector for the corresponding to the objective values. MOBOpt has a nice interface but it does not allow such data initialization. I believe your implementation will be very useful in man

[2020-07-23 16:12] eytan commented on #346
Hi,

Looking at the means and standard error of the means, arm3 should be statistically significantly better than the other two arms.

Just eyeballing it, the 95% lower bound for arm 2 and 95% Upper bounds for arms 0 and 1  don’t cross, so I would expect arm 2 to get 100% of the weight.

Note that it is not uncommon for TS to put arbitrary weight on arms with the same true mean (such that noise in

[2020-07-24 01:11] igorrivin commented on #99
Is there a way to have Ax just halt and report the best results up to that point?

[2020-07-24 14:39] 2timesjay commented on #99
@igorrivin We're looking at more graceful halting when we encounter this, but if you're using the developer API you'll be able to access all completed results with no problem.

[2020-07-24 14:42] ldworkin commented on #99
Thanks @2timesjay ! @igorrivin  the Service API should work for you as well. It's only the Loop API in which you won't easily be able to see best results in the case of a crash (but we'll fix this).

[2020-07-24 16:46] 2timesjay commented on #346
@eytan gave a pretty complete answer; this is the expected behavior. Closing.

[2020-07-24 16:46] #346 closed

[2020-07-24 16:46] 2timesjay commented on #330
Closing pending further follow-ups.

[2020-07-24 16:46] #330 closed

[2020-07-27 08:58] bperun123 opened #348 "[Question] What are the reasons for choosing the current Thompson sampling algorithm?"
Hey guys,

I am quite new to optimization and Thompson Sampling - so, sorry for this "stupid" question.

You describe the algorithm of thompson sampling quite well in a high-level view on your website (https://ax.dev/docs/banditopt.html):
`
Ax relies on the simple and effective Thompson sampling algorithm for performing bandit optimization. There is a clear intuition to this method: select a param

[2020-07-27 15:57] eytan commented on #348
We found that empirically, the normal approximation works better in practice than the beta for binary outcomes, even though the beta more correctly captures the uncertainty. Ax uses an empirical Bayes estimator which performs even better than the normal. See our KDD 2019 paper for more details   https://arxiv.org/pdf/1904.12918.pdf

I don’t think we show how normal works better than beta in the KD

[2020-07-27 19:12] bperun123 commented on #348
Thanks a lot!

That helps :)

[2020-07-27 19:12] #348 closed

[2020-07-28 13:46] bendemeo opened #350 "[Question] See optimal parameters without adding a trial?"
Hello,

I am running Ax with the GPEI generation strategy (a basic Gaussian process), and would like to know the parameters that optimize the acquisition function, without incurring any side-effects. The parameters are accessible via AxClient.get_next_trial(), but this also adds a new trial to the underlying experiment, and we must either give it new data (the objective evaluated at the suggested

[2020-07-28 15:57] stevemandala commented on #350
Great question. We designed the Service API to tightly couple the modelling, param generation, and experimentation steps, which does make it harder to directly inspect the acquisition function without generating artifacts (e.g. trials). This is something we're hoping to improve in the future.

Today, one workaround would be to pull the data from the experiment, fit the model, and generate candidat

[2020-07-29 14:08] bendemeo commented on #350
Thanks @stevemandala! This is very helpful. In the case of a model besides GPEI, or a compound model like the default SOBO+GPEI behavior, could you extract the model directly from the client without knowing a priori what it is? I have made a pass at this, and came up with:

`data = self.client.experiment.fetch_data()
model = client.generation_strategy._curr.model(experiment = client.experiment, da

[2020-07-29 14:53] eytan commented on #350
Clarifying question, by optimal parameters do you mean those that would be chosen by EI (the best guess as to what’s optimal if you’ve run another trial), or the most optimal according to the current model (the data you’ve already collected)?

Sent from my iPhone

[2020-07-29 15:02] 2timesjay commented on #350
@bendemeo client.get_best_parameters should work for you. See docs here: https://ax.dev/api/service.html#ax.service.ax_client.AxClient.get_best_parameters

[2020-07-29 15:12] bendemeo commented on #350
@eytan The latter -- I mean the optimum of the acquisition function, conditioned on the data already collected. So the next point that would be added by get_next_trial(), just without the side-effects. Thank you for clarifying!

[2020-07-29 15:59] johnbenweber opened #351 "How to Save Multi-Task Optimization Experiments"
What is the recommended  approach for saving Multi-Task Optimization Experiments?

I followed the [Multi-Task Bayesian Optimization Tutorial](https://ax.dev/tutorials/multi_task.html) and I am interested in adapting that to a problem where the online task is a physical field experiment that may take days to complete. In this case it seems prudent to save the state of the optimization to be loaded

[2020-07-29 17:56] ldworkin commented on #351
Hi @johnbenweber! Thanks for pointing this out, this seems like an oversight. I believe we have SQL support for these experiments but not JSON support. We'll try to get this fix in soon.

[2020-07-29 18:31] johnbenweber commented on #351
Thanks for the quick response @ldworkin! I will give the SQL interface a try.

[2020-07-29 21:22] ldworkin commented on #350
@bendemeo In that case, I think what you have above (where you access `._curr`) is indeed the best way! Curious if @lena-kashtelyan has other thoughts though.

[2020-07-31 16:32] lena-kashtelyan commented on #344
@rima2992, assuming you found the answer and closing the issue –– let us know if you still need help and feel free to reopen if so!

[2020-07-31 16:32] #344 closed

[2020-07-31 16:37] lena-kashtelyan commented on #350
@bendemeo, your code snippet looks right overall; you can simplify it a bit like so:
[code]

[2020-08-03 14:25] lena-kashtelyan commented on #350
Closing this as I think it should be answered with all our responses above; feel free to reopen, @bendemeo, if you have any follow-up questions!

[2020-08-03 14:25] #350 closed

[2020-08-05 05:40] zh217 opened #352 "Ordered ChoiceParameter becomes unordered after cloning"
This is due to the cloning method failing to clone the _is_ordered attribute:

https://github.com/facebook/Ax/blob/master/ax/core/parameter.py#L427-L435

A consequence of this is that the OrderedChoiceEncode transform becomes essentially useless.

[2020-08-05 10:20] zh217 commented on #352
The `is_ordered` attribute should be reflected in the `__repr__` method as well.

[2020-08-06 15:13] adamobeng commented on #352
Thanks for reporting this, @zh217! Let me work on a repro and a fix.

[2020-08-06 15:23] EricZLou commented on #351
Hi @johnbenweber -- glad the SQL interface worked for you! Just an update that a fix for JSON storage of multi-task experiments is on master and will be included in the next stable release of Ax.

[2020-08-06 20:47] adamobeng commented on #352
I've reproed the issue, and I'm going to find someone to whom to assign it.

[2020-08-08 11:04] sandys commented on #313
@algharak could you paste a code example that you got working with xgboost  + Ax. we are looking to get the same working.

[2020-08-08 16:59] eytan commented on #313
Hopefully somebody can answer your question, but if you are tuning HPs I’d
recommend avoiding choice parameters and sticking with ranges (and floats)
as much as possible. Since ax uses Bayesian optimization It can very
efficiently explore the space. Your config here is just exploring a 2x2
combinations of parameters, for which you don’t really need ax for :) you
might get less errors if you try us

[2020-08-10 14:46] ldworkin commented on #313
Was able to verify that this does indeed break on a very simple example:

`from ax import optimize
from ax.utils.measurement.synthetic_functions import branin

best_parameters, values, experiment, model = optimize(
    parameters=[
        {"name": "max_depth", "type": "choice", "values": [6,7], "value_type": "int"},
        {"name": "min_child_weight", "type": "choice", "values": [1,2], "value_ty

[2020-08-10 15:53] lena-kashtelyan commented on #313
@ldworkin, agreed that we should exit gracefully in this case!

@algharak, just FYI, the error was just trying to indicate that your search space was exhausted and we couldn't produce the next trial from our Sobol sampler (since there are only 4 possible parameter combinations in the search space in this case). We'll work on exiting gracefully in this case!

[2020-08-15 10:19] adithyaakrishna opened #360 "Update Readme.md - Add Link to the last line and also add on macOS 10.10 (Yosemite) or above."
The last line in the section, Join the Ax Community doesn't have a link or the detail about which version is supported.
Also in the Latest Version Section, Line No.120

![image](https://user-images.githubusercontent.com/23498248/90310348-64173480-df0e-11ea-93fd-b70e9616c457.png)

[2020-08-17 13:22] ldworkin commented on #360
Hi @adithyaakrishna , I'm not sure I understand what your request is. The line "see recommendation for installing PyTorch for MacOS users above" is referring to the section [here](https://github.com/facebook/Ax#installing-via-pip) which says:

Is there something you'd like to be made more clear?

[2020-08-17 13:23] ldworkin commented on #360
Edit: I see, you were referring to the changes you made here: https://github.com/facebook/Ax/pull/362

[2020-08-19 12:20] nwollek opened #363 "Modular `BoTorchModel`: combining BoTorch components like `Model`, `AcquisitionFunction`, `Objective` etc. in Ax"
Hello Ax team,

You did a great job so far with the project researching the topic of bayesian optimization (BO)!
I have a feature proposal that I already discussed with Max @Balandat beforehand and would like to further explain it here to your whole team.
This issue is currently preventing that I use your library for certain features or at all.

**My use case:**
Implementing a software suite for p

[2020-08-19 16:54] lena-kashtelyan commented on #363
Hi, @nwollek! We are currently working on something that might cover at least part of this feature request: an improved and modular interface between Ax and BoTorch, which will allow for mixing and matching of surrogate models and acquisition functions. We can put the work in its current (unfinished) state up as a PR in the next few days, and you could give us feedback? How does that sound?

[2020-08-20 06:51] nwollek commented on #363
Hello Lena,

Thanks for your fast answer!
I would definitely take a quick look into the PR, but have to admit that I don't have time for a full review.
So you could create it in the next days with respect to your time schedule and I will check it out sometime soon.

[2020-08-24 07:49] theinlinaung2010 opened #365 "[Question] How to attach custom trials in Developer API"
Hi, I would like to know how to attach custom parameterizations in Developer API like `attach_trial` method in Service API. I could not find a way in documentation nor in existing discussions.

The reason I want to use developer API is the need for a custom kernel (RBF kernel) as described in https://botorch.org/tutorials/custom_botorch_model_in_ax.

Thank you in advance.

[2020-08-24 11:58] cx1234paris opened #366 "The global minimum of surrogate model during each iteration step"
Hi!

I would like to know if it is possible to get the point and the value where the global minimum of response surface can be found for each iteration step within your Ax framework in this time?  Because what I need to do is to optimize and monitor the minimum value and its position for the target function in my work. Thank you so much for your help!

[2020-08-24 13:55] ldworkin commented on #365
Hi @theinlinaung2010 !

Great question. You have to manually create a GeneratorRun containing the parameterization you want, like this:

[code]

Let me know if that helps!

[2020-08-24 13:59] ldworkin commented on #366
Hi @cx1234paris !

Good question. You cannot do this using the [Loop API](https://ax.dev/tutorials/gpei_hartmann_loop.html) but you *can* do it using the [Service API](https://ax.dev/tutorials/gpei_hartmann_service.html).

See this section here, in particular: https://ax.dev/tutorials/gpei_hartmann_service.html#4.-Run-optimization-loop

After each iteration, you can call `best_parameters, values =

[2020-08-24 19:36] cx1234paris commented on #366
Thank you for your explanation. However, in this case, if it is possible to define a customized botorch GP model as surrogate model  within service API which is similar to the case in loop API? (https://botorch.org/tutorials/custom_botorch_model_in_ax)

[2020-08-24 19:44] ldworkin commented on #366
Oh I see, that tutorial is actually using the Developer API! You can use this function: https://github.com/facebook/Ax/blob/fc4cd2ae821dbd2949956810a4ecb1073d598ffb/ax/service/utils/best_point.py#L97

Call that at any time to get the best point and value.

[2020-08-25 02:34] theinlinaung2010 commented on #365
It worked perfectly! Thank you.

[2020-08-25 02:34] #365 closed

[2020-08-25 09:24] UTUnex opened #367 "Add examples for skorch"
Hi, I'm using skorch, which is a wrapper of pytorch to make it have a sklearn-API for easy use, for NN training and I hope to use ax for hyperparameters tuning in skorch. After checking your turorial, I still feel very hard to start, could you please add an example for ax using with skorch?
Or at least, please add an example for sklearn with ax.

Thank you.

[2020-08-25 11:54] cx1234paris commented on #366
Thank you so much for your help! It works well as I expected! By the way , I still would like to know if it is possible to get a surface plot for the post-processing?

[2020-08-25 14:41] lena-kashtelyan commented on #367
Hi, @UTUnex, we'll definitely note that feature request for future work! In the meantime, maybe you could provide us with a bit more information on what parameters you are trying to optimize and what the search space looks like for you?

Also, which tutorials did you check out? I wonder if [our `pytorch` tutorial](https://ax.dev/tutorials/tune_cnn.html) could be of help? That tutorial uses our Loo

[2020-08-25 14:44] lena-kashtelyan commented on #360
@adithyaakrishna, moving this discussion to your PR: #362, as there are more specifics there to discuss. Feel free to reopen this issue if you'd like to follow up here!

[2020-08-25 14:44] #360 closed

[2020-08-25 14:51] ldworkin commented on #366
Hi @cx1234paris !

Couple things
- As @lena-kashtelyan  just reminded me, you actually don't need to explicitly call the `get_best_parameters` function, since we store the expected best point at the time of creation of every generator run, on that generator run, see here: https://github.com/facebook/Ax/blob/1ecee1b3481c82719c9a47756ba17832b121a251/ax/core/generator_run.py#L84
- As for plotting, yo

[2020-08-25 16:38] lena-kashtelyan commented on #317
@FriendLey, just a quick follow-up to your question here. How were you looking to use a custom `Data` class? Were you going to return an instance of one from your metric's `fetch_data` method? It would help us move forward with the fix to know approximately what your use case was.

[2020-08-25 19:02] UTUnex commented on #367
Hi,
Thank your for your reply. Please allow me to talk a bit more about what I expect and what I have tried (Please be patient to read this):

(1)   I use Jupyter notebook for all my ML and DL task ,so all things here I talk about are based on the code in the Jupyter notebook not in the *.py format as they have different style and logic.

(2)   In my mind, the DL code should have at least four sec

[2020-08-26 15:36] cx1234paris commented on #366
Thank you so much! I will see which is more adaptive for my project. Besides, what I want is to extract a 3D surface plot with X1, X2 and function value for a 2D function (ex. Branin). As for me I didn't find how to obtain it in your tutorial and API. If you have any indications for me in this point it will be really better but if not, it is not really important for my work. Thank you!

[2020-08-26 15:45] ldworkin commented on #366
Oh I see! @cx1234paris  is this what you're looking for?

https://ax.dev/tutorials/visualizations.html#2.-Contour-plots

[2020-08-26 18:50] jangkj09 opened #372 "Indicate trial failure for certain parameter settings and exclude from future trials"
I'm trying to optimize an evaluation function which consists of an optimization routine.
For certain combinations of the parameters, the routine does not converge and results in an invalid result.
I am currently using the GPEI optimizer and developer API with the SimpleExperiment class.
I'd like to be able to indicate this when this happens and also somehow exclude those values from future trials,

[2020-08-26 19:09] ldworkin commented on #372
Hi @jangkj09 ! You might have better luck using our Service API. I'd recommended checking out the tutorial [here](https://ax.dev/tutorials/gpei_hartmann_service.html). And then, the part you'd modify is this:
[code]

Let me know if this helps!

[2020-08-26 19:38] jangkj09 commented on #372
Thanks, I will try this out. I don't need it quite yet, but how are you supposed to define a custom generator model using the Service API?
I see the option for specifying `generation_strategy` but couldn't find a good example as to how to set this.
Also, just out of curiosity, is it possible to have something like this using the Developer API. I'd like to use a custom BoTorch model, but I could on

[2020-08-26 19:44] ldworkin commented on #372
I'll defer to @lena-kashtelyan on parts of this question, but as for how to do this using the Developer API, you can do something quite similar:

[code]
Something like that should work! I haven't tested this though, so let me know if you run into any issues :)

[2020-08-26 19:49] lena-kashtelyan commented on #372
To set up custom model in the Service API, you will need to make your own [generation strategy](https://ax.dev/api/modelbridge.html#module-ax.modelbridge.generation_strategy) and pass it to `AxClient` as the `generation_strategy` kwarg on instantiation. You can use [this comment](https://github.com/facebook/Ax/issues/199#issuecomment-551884560) or the [`choose_generation_strategy`](https://github.

[2020-08-26 20:30] jangkj09 commented on #372
Thanks. @lena-kashtelyan I'll go through some of these comments and see if I have any further questions. The model isn't that custom and it's just a GP model I fit with previous experimental data.

@ldworkin This is from my lack of understanding of the Developer API and the concepts in Ax, but in the sample code you have provided, if you don't explicitly call `evaluate_trial()` will the new trial

[2020-08-26 21:28] ldworkin commented on #372
@jangkj09 you're right actually! I was getting confused about the difference between SimpleExperiment and regular Experiment. My example is really meant more for Experiment. SimpleExperiment does the trial evaluation automatically behind-the-scenes when you call `eval`, which makes it a bit harder to accomplish what you want. You probably want to use either regular Experiment or the Service API.

[2020-08-26 22:36] lena-kashtelyan commented on #372
+1 to @ldworkin above, switching to regular `Experiment` or Service API should address your issue, @jangkj09!

Just FYI, this is something that you can achieve via `ax_client.attach_trial` in Service API (this is documented in "adding custom trials part" of [this section of the Service API tutorial](https://ax.dev/tutorials/gpei_hartmann_service.html#Special-Cases)). Just make sure to first attach

[2020-08-27 03:38] jangkj09 commented on #372
@lena-kashtelyan @ldworkin  Thanks for all your help so far, it has been very informative. I had some more questions:

1.  If I'm using the Service API, I understand that I need to pass in a generation strategy and the examples, but is there a way to simply specify one of the default generation strategies (i.e. one that would've automatically been chosen, but just explicitly selected by me)? I'm n

[2020-08-27 15:51] ldworkin commented on #372
1. I think what @lena-kashtelyan is saying is that, for your use case, you actually _won't_ need to pass in a generation strategy. We'll automatically choose it for you and train it with the pre-existing data (using her code example above). However, if you _want_ to pass in a custom generation strategy, the best documentation we have for that at the moment is [this comment here](https://github.com

[2020-08-27 16:00] lena-kashtelyan commented on #372
Building off of @ldworkin's answer, just a couple additions:

1. There are two ways to control what generation strategy is chosen: 1 is to actually pass the generation strategy, 2 is to pass choose_generation_strategy_kwargs (as shown in bottom section of the tutorial: https://ax.dev/tutorials/gpei_hartmann_service.html#Service-API-Exceptions-Meaning-and-Handling), and these can be any of these kw

[2020-08-27 16:07] jangkj09 commented on #372
Thanks so much! This clarifies a lot to me :)

Just a few more things:
@ldworkin  I was looking up the `evaluate_params()` function, but it doesn't seem to be in the documentation. Is this the `evaluate()` function that I'm supposed to define in the tutorial?

@lena-kashtelyan I can't actually follow the link: https://fburl.com/znk3qerb It says it's missing the page.

[2020-08-27 16:20] kemites opened #373 "How to config multi objective optimization"
Hello ,
I'm working on multi objective optimisation  and i m looking  for some  application example code of multi objective optimization  to understand  how can i make my one. I have already understand how to config an single objective  optimization .
thanks you

[2020-08-27 16:27] Balandat commented on #373
Hi @kemites, but multi-objective you mean exploring the pareto front rather than adding outcome constraints to a single-objective optimization, right? This functionality is in the works and should go in together with additional documentation and tutorials in the near future (cc @sdaulton , @2timesjay)

[2020-08-27 16:35] kemites commented on #373
yes ,
I am  student and for my internship , i am working on multi objective optimization.
actually a want to have one example of  code to use or to adapt it for my problem.
i want some thing like this
https://ax.dev/docs/api.html

[2020-08-27 16:49] lena-kashtelyan commented on #372
@jangkj09, fixed the link, sorry about that!

Re: `evaluate_params` function, could you specify where you saw that?

[2020-08-27 17:15] jangkj09 commented on #372
I found it here: https://github.com/facebook/Ax/issues/372#issuecomment-681069594

[2020-08-27 17:30] lena-kashtelyan commented on #372
Oh! I think @ldworkin just meant to suggest that as a placeholder for any arbitrary function that evaluates a given parameter configuration. See [this section](https://ax.dev/tutorials/gpei_hartmann_service.html#3.-Define-how-to-evaluate-trials) of the Service API tutorial for an example.

[2020-08-27 17:56] jangkj09 commented on #372
Thanks, I'm getting an error saying that `'AxClient' object has no attribute 'abandon_trial'`. I see it in the API, but not sure why this error is happening.

[2020-08-27 18:02] lena-kashtelyan commented on #372
Please post a code snippet that we can review in that case, since that's quite unexpected.

[2020-08-27 18:23] jangkj09 commented on #372
Sure, I'll post some code soon, but could it be a version issue? I see that the latest is 0.1.14, but the version I have installed is 0.1.9. I tried updating pip and also tried to reinstall specifying 0.1.14, but it says that it is unavailable.

[2020-08-27 18:31] jangkj09 commented on #372
Comparing the API documentation, I think that is the reason why. I'll try to figure out why I can't seem to find/install 0.1.14

[2020-08-27 18:42] jangkj09 commented on #372
Sorry, stupid mistake on my part. I guess it requires Python 3.7...

[2020-08-27 18:46] lena-kashtelyan commented on #372
Oh, it's certainly a version issue! And yes, our recent versions require Python 3.7.

[2020-08-27 19:06] lena-kashtelyan commented on #366
It appears that this issue might be resolved with @ldworkin's response –– I'll also follow up by saying that in Service API, one can also obtain those contour plots (as shown in [this section](https://ax.dev/tutorials/gpei_hartmann_service.html#6.-Plot-the-response-surface-and-optimization-trace)) of the tutorial. You can see those plots at any time during the experiment, provided the Bayesian opt

[2020-08-27 19:06] #366 closed

[2020-08-27 19:08] lena-kashtelyan commented on #313
The fix for this is now on master and will be included in the next stable version release.

[2020-08-27 19:51] #313 closed

[2020-08-27 19:51] algharak commented on #313
I am good

[2020-08-27 19:53] stevemandala commented on #316
Quick update @ksanjeevan: We refactor the core logger libraries in 44fdecb such that they all inherit (and propagate) to the root logger "ax". With those change, this (similar to your example) should work:
[code]

This is currently on master and should get included in the next release.

[2020-08-27 19:56] ksanjeevan commented on #316
Thanks for the update @stevemandala, I'll give it a shot!

[2020-08-28 02:00] jangkj09 commented on #372
Thanks, I was able to implement a simple setup using the service API, but I had some more questions. Please let me know if any of these should be a separate issue:

1. What exactly is happening when I indicate a trial as abandoned that it is able to know not to predict those parameter values and what is the difference from when I use `log_trial_failure` as described in the tutorial?

2. Does the m

[2020-08-28 14:55] lena-kashtelyan commented on #372
Re: **difference between abandoning trials and marking them as failed** –– when a trial is 'running', it's included in 'pending points' that are passed to the model to indicate that those points should not be re-suggested as they are currently being evaluated. When a trial is 'abandoned', it remains in 'pending points' forever, and when it is marked 'failed', it is removed from pending points. Tha

[2020-08-28 14:55] #372 closed

[2020-08-28 15:07] jangkj09 commented on #372
Thanks for all your help!

[2020-08-28 15:12] lena-kashtelyan commented on #199
It is now possible to increase parallelism level for any generation step, and there is information on it in [this section](https://ax.dev/tutorials/gpei_hartmann_service.html#How-many-trials-can-run-in-parallel?) and [this section](https://ax.dev/tutorials/gpei_hartmann_service.html#Service-API-Exceptions-Meaning-and-Handling) of the Service API tutorial. To reiterate, there are two ways of settin

[2020-08-28 15:12] #199 closed

[2020-08-28 15:17] lena-kashtelyan commented on #264
Closing this issue, since it's covered by @bletham's response above and has been inactive for a while.

[2020-08-28 15:17] #264 closed

[2020-08-28 15:27] lena-kashtelyan commented on #373
HI, @kemites, we unfortunately do not yet have a working example, as this functionality is under construction. @2timesjay should be able to provide one soon, however!

[2020-08-28 16:03] lena-kashtelyan commented on #308
Moving discussion on this to #228, since the two issues appear to be duplicates.

[2020-08-28 16:03] #308 closed

[2020-08-28 18:47] jangkj09 opened #375 "What happens to subsequent trials when an output constraint(s) is not satisfied?"
With Service API, the function I am optimizing returns two metrics (e.g. `m1` and `m2`), and I have defined one as the objective (`m1`) and placed an output constraint on the other (`m2 <= x`).
During the trials, if the output constraint is not satisfied, how is this recorded and how is this information used in a subsequent trial?
Is this information taken into consideration when sampling the next

[2020-08-28 19:37] lena-kashtelyan commented on #375
Please clarify what you mean by:

Are you seeing a trial that doesn't satisfy the constrains? Please include code snippet of how you set up your experiment and what trials you are seeing.

[2020-08-28 19:59] jangkj09 commented on #375
Thanks, this clarifies a lot.
Just two more things:
1. The way I have it set up, when the output constraint is satisfied the other metric (the objective, i.e. `m1`) defaults to 0. will the model to generate future values use that value of 0?

2. I just want to understand it in more detail, but is there any reference for the mechanism which  tries to ensure that  future trials will be produced whic

[2020-08-28 20:18] qingfeng10 commented on #375
Re: taking into account trails that do not satisfy constraints / or trails that satisfy constraints but objective values are not great

In each trial, the method takes data from all the past trails and builds GP model to capture the relationship between metrics and your tuning parameters. Therefore, although some trials are not great in terms of optimization goal, they help to learn the relationsh

[2020-08-28 20:22] lena-kashtelyan commented on #375
Did you meant "when the output constraint is not satisied"? I'm not sure I understand what you are asking.

[2020-08-28 21:01] jangkj09 commented on #375
Right, it should be "when the output constraint is not satisfied".

@qingfeng10 I understand that this is Bayesian optimization, but I suppose Ax is taking the outcome constraints and transforming it into some constrained form of BO
I was wondering how this is being implemented (e.g. if it's calling BoTorch, then how is it calling it?) and if there is an example of customizing this part?

[2020-08-28 23:39] lena-kashtelyan commented on #375
We have some documentation on specific type of BayesOpt we use [here](https://ax.dev/docs/models.html#gaussian-process-with-ei). Also, here is a [tutorial](https://botorch.org/tutorials/custom_botorch_model_in_ax) for setting up a custom BoTorch model in Ax, and you can read through the [`BotorchModel`](https://github.com/facebook/Ax/blob/master/ax/models/torch/botorch.py#L91) and [`botorch_defaul

[2020-08-28 23:39] #375 closed

[2020-08-30 08:24] sandys commented on #77
hi guys,
would it be possible to have an example of an online trial without using planout. Maybe just on top of Flask for simplicity.
I think a lot of people have similar questions - based on the activity in this bug over last 18 months.

[2020-08-31 14:25] lena-kashtelyan commented on #363
Hi, @nwollek! On Friday, @EricZLou added our work on modular `BoTorchModel` in Ax to our open-source repo, in https://github.com/facebook/Ax/pull/374. The PR contains a draft tutorial that explains the new setup and how to use it: https://github.com/facebook/Ax/blob/master/tutorials/botorch_modular.ipynb.

As you take a look at the new functionality, please bear in mind that both the code and the

[2020-08-31 17:16] ldworkin commented on #77
Hi @sandys !

@sdsingh , can you maybe re-upload the planout tutorial? It's not clear to me how to find it.

@sandys maybe once you see that, it will at least unblock you?

To clarify, Ax is really agnostic to the backend you use. You can deploy your online trials however you want. The 'Runner' abstraction in Ax is what controls the deployment, and that's entirely customizable. Is there anything i

[2020-08-31 17:26] sandys commented on #77
Would it be possible to show a non-planout example. I do understand there
would be more boilerplate. But I'm wondering if planout is mandatory. Is it
not possible to do this with a bit of coding ourselves and Ax?

On Mon, 31 Aug, 2020, 22:47 Lili Dworkin, <notifications@github.com> wrote:

[2020-08-31 17:32] ldworkin commented on #77
It definitely is possible! Can you tell us a little more about your setup? How are you planning to randomize users among different options?

As per @sdsingh 's comment here:
[code]

If you tell us more about how you're going to handle the experimentation framework part, I can help you understand how Ax would work together with it.

[2020-08-31 17:37] sandys commented on #77
Thanks for asking. It's a simply model api (running on flask) with multiple
models.

To be honest, we are still trying different ways of randomizing users. But
what we are sold on is Ax - as the right framework to do it.

But I'm not able to figure out how to do it. What data needs to be
persisted to the db so that Ax knows what happened to previous users,etc.
So it's really the API usage part (wi

[2020-08-31 18:07] ldworkin commented on #77
Have you taken a look at this tutorial? https://ax.dev/tutorials/building_blocks.html

This is the one most relevant to you, I think. The parts that you'll want to pay attention to are defining your custom Runner and Metric.

persisted to the db so that Ax knows what happened to previous users,etc.

You can save data to the database however you want! Then, you'll want to write a custom Metric clas

[2020-08-31 18:07] ldworkin commented on #77
These docs might also be helpful:

https://ax.dev/docs/trial-evaluation.html#adding-your-own-runner
https://ax.dev/docs/data.html

[2020-08-31 20:58] jangkj09 opened #377 "Setting winsorization limits"
When using the Service API, there is an option to set winsorization limits, but it's unclear what a valid value is for the limits. The documentation says:
...clip the mean values for each metric to lay within the limits provided in the config as a tuple of (lower bound percentile, upper bound percentile)...,
When I set a value of `(10.0,90.0)` I get an error. Are the values of the bounds supposed

[2020-08-31 21:49] amitchandak opened #378 "Seeding parameter values and prunning trials"
Hi,
How can I seed the parameter values before calling the "optimize" function?
For example in  [tune_cnn_example](https://github.com/facebook/Ax/blob/master/tutorials/tune_cnn.ipynb) , if we know that optimal learning rate will be around say 0.5, then can we seed it with value and define range like [0.3, 0.8] ?

Also is there a way to prune trials which we know might not give optimal  hyper-param

[2020-08-31 22:09] 2timesjay commented on #377
The expected values are actually the percentile to trim from each end as a float in [0,1).

So to trim 10% from lower and upper bounds you'll pass

{"winsorization_lower": 0.1, "winsorization_upper": 0.1}

I'll clarify the docs. let me know if this works, and please post with a follow-up with your code if it doesn't.

[2020-08-31 23:05] 2timesjay commented on #378
In https://github.com/facebook/Ax/blob/master/tutorials/tune_cnn.ipynb you can see the search space set up with "bounds" specified. In cell [7]  you see

` {"name": "lr", "type": "range", "bounds": [1e-6, 0.4], "log_scale": True},`

You could change the range to [0.3, 0.8] by setting

`{"name": "lr", "type": "range", "bounds": [0.3, 0.8], "log_scale": True},`

Trials outside this bound will never

[2020-09-01 01:05] amitchandak commented on #378
@2timesjay thank you for answering. I have been doing what your have suggested but in suggested approach the BO algorithm will start with random values chosen from the set. It will be better to start with "lr=0.5" and then explore around this value but constraint by the defined range.

Also can you please suggest how can I define "pruning" strategies in BoTorch or Ax framework ?
Something like thi

[2020-09-01 17:32] 2timesjay commented on #378
@amitchandak thank you for the follow-up.

To seed with what you know to be good values, you could use the service API (tutorial: https://ax.dev/tutorials/gpei_hartmann_service.html) and manually add an initial set of trials based on good parameters. We don't otherwise have any feature for  "hinting" or priors because we rely on BO after initialization.

Unfortunately we don't support anything exa

[2020-09-01 18:25] amitchandak commented on #378
@2timesjay thanks for your reply.
Application domain is to figure out right hyper-parameters like learning-rate, momentum value and weight-decay for training different models (VGG16, Pres-Net and Wide-ResNet) on CIFAR-10 and CIFAR-100.

I have figured values of these parameters through grid-search and hence wanted to seed the BO routine with those values to start of.

Also since few models like Wi

[2020-09-01 20:27] 2timesjay commented on #378
@amitchandak then I can confirm that following the service API tutorial above and using 'attach_trial' and 'complete_trial' with your previous grid search is the best option.

with 100 trials you'll have a very strong initial fit for bayesopt.

Avoid intializing with additional unnecessary random trials by passing an extra kwarg:

`ax_client.create_experiment(..., choose_generation_strategy_kwargs

[2020-09-01 20:38] #378 closed

[2020-09-02 08:34] nwollek commented on #363
Hey @lena-kashtelyan, I just took a quick look at the tutorial draft and it seems to be going into the right direction.
I am looking forward to see further developments and tutorials explaining how to use those classes for steering the optimizer between exploration and exploitation on a high abstraction layer. I think this issue should be kept open until then. Keep me updated!

[2020-09-02 23:08] lena-kashtelyan commented on #363
@nwollek, agreed! I'll keep the issue open and post updates here.

[2020-09-03 15:03] kjanoudi opened #380 "Reducing Domain / Bounds Each Run"
Hello,

I'm coming from a simpler package, and they have a concept of "Domain Reduction", which when used with my black box function has been very successful in rapidly finding near optimal ranges for 26 parameters, some Choice and some Int/Float Range. I've linked it here:

https://github.com/fmfn/BayesianOptimization/blob/master/bayes_opt/domain_reduction.py
https://github.com/fmfn/BayesianOptim

[2020-09-04 15:13] jangkj09 commented on #377
Thank you, this allowed my code to run properly.

[2020-09-04 15:13] #377 closed

[2020-09-04 15:22] 2timesjay commented on #380
@kjanoudi

We don't have anything like Domain reduction directly built in, but using the [Developer API](https://ax.dev/tutorials/gpei_hartmann_developer.html) you can achieve this by directly editing the search space.

If you take that tutorial and replace the code under https://ax.dev/tutorials/gpei_hartmann_developer.html#4.-Perform-Optimization with the following:

[code]

You'll see a very cr

[2020-09-04 15:52] jangkj09 opened #381 "Debugging RuntimeError: cholesky_cpu: For batch 2: U(77,77) is zero, singular U."
This is an issue related to https://github.com/facebook/Ax/issues/228, https://github.com/facebook/Ax/issues/99, https://github.com/facebook/Ax/issues/308 and maybe some others as welll, but I'm more interested in two things:

1. Is there a way to debug what is causing the failure? I think it is related to the bad-conditioning on the underlying GP model, but I'm not sure how to confirm this.
2. Wh

[2020-09-04 18:56] kjanoudi commented on #380
Thank you greatly for the detailed help, looking forward to the roadmpa

[2020-09-04 19:04] kjanoudi commented on #380
Is there a way to mix the Developer API with the service API? I am taking advantage of the experiment, trial, and metric data being saved to SQL using the AxClient, and would like to keep that process in place using the code you provided above. Would the best way be to fork the repo, or is there a better option?

[2020-09-04 20:20] lena-kashtelyan commented on #380
@kjanoudi, you should definitely be able to do what you suggest above. The experiment you get from `ax_client.experiment` is exactly the same as the Dev API `Experiment`, so anything you can do to the Dev API experiment, you can do through the Service API.

[2020-09-04 23:13] Balandat commented on #380
cc @dme65 for TuRBO

[2020-09-08 15:04] dme65 commented on #380
@kjanoudi As 26 dimensions is quite high for vanilla BO you can try to use TuRBO which was developed for the high-dimensional setting: [code](https://github.com/uber-research/TuRBO), [paper](https://papers.nips.cc/paper/8788-scalable-global-optimization-via-local-bayesian-optimization.pdf).  TuRBO isn't available in BoTorch, but we are looking into a few options to support it.

[2020-09-08 16:44] 2timesjay commented on #381
I have 3 suggestions to start, but I'll need to follow up after more research:

1.  Definitely do not use this "3000" dummy value. The GP will have a very hard time fitting it. We don't have a systematic way to deal with failed trials like this, unfortunately, except for...
2. Add robustness, retries, repeated sampling, or other strategies to the evaluation function directly. If you followed the s

[2020-09-09 16:43] chasewalden opened #382 "Trying to save a Trial (SQA) with TTL seconds fails"
It seems the SQATrial definition may be broken. It looks like a copy-paste bug from the two lines above.

https://github.com/facebook/Ax/blob/1a62e095ae06a6ca91501c5615bca08c66e3dc99/ax/storage/sqa_store/sqa_classes.py#L398-L399

Causes this issue when saving to SQL:

[code]

[2020-09-09 17:59] jangkj09 commented on #381
Ok, thank you for the suggestions.
What exactly do you mean by "add robustness"?

Also, for repeated sampling, if I am using GP+EI for generating a sample using the `get_best_parameter()` function. If I don't add any additional trial data, will it simply return the same sample? Or is there some randomness/noise to the sample that is returned?

Does Ax provide facilities that I could get a "noisy"

[2020-09-10 17:24] stevemandala commented on #382
Thanks for catching this bug! bf15d40e should resolve this and is on master now. Should get included in the next release (which should be soon).

[2020-09-10 20:24] lena-kashtelyan commented on #228
Discussion in https://github.com/facebook/Ax/issues/381 is relevant for this issue, too.

[2020-09-10 20:45] sdaulton commented on #228
Yeah have some improved methods in the works for better treatment of integer parameters (in the couple weeks), which should resolve this issue. cc: @Balandat

[2020-09-12 14:22] kjanoudi opened #383 "Changing a Range Parameter To Fixed"
At some point during my experiment, some of my integer parameters that were originally Range params converge to a single value. At that point, instead of trimming the range to two values, I create a new search space, replace those parameters in the search space with a single FixedParameter, then set the search space on the experiment. However, i then begin receiving this error:

https://github.com

[2020-09-14 17:46] 2timesjay commented on #383
At its root this is a bug due to overly strict validation when we have fixed parameters.

Your best option right now is to not change the search_space, but instead use the fixed_features kwarg when calling gen.

In the developer API, where you call "gen" https://github.com/facebook/Ax/blob/master/ax/modelbridge/base.py#L576 to generate a new proposed arm (see: https://ax.dev/tutorials/gpei_hartman

[2020-09-16 14:44] Pzmijewski opened #384 "ALEBO: "RuntimeError: cholesky_cpu: U(1,1) is zero, singular U.""
I started testing the ALEBO Strategy with 5 real parameters and 20 dummy parameters (see code below), based on this [quickstart ](https://github.com/facebookresearch/alebo). After a few iteration i get the following error.
Does anyone know how to fix it? I have seen that "RuntimeError: cholesky_cpu: U(1,1) is zero, singular U." appears more often in other issues but i think this might be a differe

[2020-09-17 15:38] adamobeng commented on #384
Hey, thanks for sharing this issue! I'm working on a reproduction, but this looks like a numeric stability problem. Would you be able to share the other error messages you've been seeing?

[2020-09-17 15:52] Pzmijewski commented on #384
hey Adam, thanks for your time! There is also this warning message:
C:\code\00_Testbereich\env\lib\site-packages\ax\models\torch\utils.py:267: UserWarning:

This overload of nonzero is deprecated:
        nonzero()
Consider using one of the following signatures instead:
        nonzero(*, bool as_tuple) (Triggered internally at  ..\torch\csrc\utils\python_arg_parser.cpp:766.)

[2020-09-17 20:45] bletham commented on #384
@Pzmijewski everything looks good with how you're setting up the optimization. The error is a numerical issue coming from gpytorch where it is failing to do a cholesky decomposition, probably because the covariance matrix is nearly singular. A few things to try...
- Can you check that you are using Ax version 0.1.14? That version contains a bugfix for ALEBO that could affect the stability of the L

[2020-09-18 14:54] Pzmijewski commented on #384
hey @bletham,

- yes, i´m using ax 0.1.14
- i tried the ''laplace_nsamp': 1'-fix, but it didn´t helped
- i cant give you the original evaluation function because its a HTTP API Request to a simulation from another company including sensitive information. I build a fake one with nearly similar results but much less complex. Maybe it helps you.
While testing the fake one i got the same warnings but

[2020-09-21 08:46] LyzhinIvan commented on #140
Hi! Are there some estimates when this functionality will be available?

[2020-09-21 14:49] ldworkin commented on #140
Hi @LyzhinIvan ! Unfortunately, probably not in the immediate short-term. This has been deprioritized in favor of other efforts. However it's certainly still on our roadmap! cc @2timesjay

[2020-09-21 18:38] bletham commented on #384
Thanks for checking those things. If it's still erroring out with laplace_nsamp=1 then the issue isn't being caused by the Laplace approximation or posterior sampling, which I thought was the most likely way to produce a bad covariance matrix. It's something just in the core GP. Could you check into a few more things?

- Noise level: as you seem to know from the code above, the current ALEBO imple

[2020-09-22 14:57] Pzmijewski commented on #384
hey @bletham,
i tried to modify the noise level of the evaluation and the error did not occure anymore. It works when I inflate the SEM by a small value (resp2: +0.03). But it also works when the SEM of resp2 is 0.0 constantly. Resp1 has no influence of the error, I think, because there is constantly a large SEM.
In real the SEM of resp2 is 0.0 in most of the trials. Maybe this produces a bad cova

[2020-09-22 15:42] 2timesjay commented on #381
@jangkj09

When I say add robustness or repeated sampling, you'll have to add them to the evaluate function manually. So your evaluation function can add different small amount of noise to the parameters, calculate the result, then return the average of all successful results. This technically changes the function you're evaluating slightly, but our algorithms will handle the change just fine.

We

[2020-09-22 18:51] bletham commented on #384
Great, it looks like we're making some progress then.

There are two kernel hyperparameters for this model: an output scale, and a Mahalanobis distance matrix. The output scale in the hyperparameter dump you provided looks good. Taking the "Uvec" hyperparameter, we can compute the Mahalanobis distance matrix like so:
[code]
and then look at its smallest eigenvalue:
[code]
This prints the smallest

[2020-09-24 16:20] Pzmijewski commented on #384
Thanks for your help!
I changed the standard deviation to standard error. In our original eval function we have n=30.

I will close the issue if its fine for you. The optimization is now running stable. Thank you very much for explaining these things. It was very helpful :)

[2020-09-24 16:20] #384 closed

[2020-09-24 16:57] bletham commented on #384
Awesome, glad to hear it's working now.

[2020-09-25 06:33] FriendLey commented on #317
Yes, I returned an instance of the custom `Data` class from metric's `fetch_data` method which contains columns not in COLUMN_DATA_TYPES. But the class Experiment doesn't support it because it's fetch_data use Data.from_multiple_data().

[2020-09-29 16:08] lena-kashtelyan commented on #381
Closing this and moving discussion to #228, since the ways to address the issue are mostly the same in the two cases.

[2020-09-29 16:08] #381 closed

[2020-09-29 16:24] jangkj09 commented on #381
@lena-kashtelyan @2timesjay Thanks for all your help! I will open other issues if I run into them. Thanks!

[2020-09-30 14:02] #316 closed

[2020-09-30 14:02] #351 closed

[2020-09-30 18:37] richardliaw opened #387 "New release of ax-platform is raising `ModuleNotFoundError`"
Is there a workaround for this?

[code]

[2020-09-30 18:45] lena-kashtelyan commented on #387
Hi, @richardliaw, thanks so much for letting us know! I believe this is due to our forgetting to bump our BoTorch version requirement. If you upgrade `botorch` package to 0.3.1, this should go away. Let me know if it doesn't!

[2020-09-30 18:50] richardliaw commented on #387
@lena-kashtelyan thanks for the fast response. I think it doesn't work actually:

[code]

[2020-09-30 19:06] markgoodhead opened #390 "Links in the Tutorials docs aren't working"
The Tutorials docs here: https://ax.dev/tutorials/ contain links which don't work, e.g. https://ax.dev/tutorials/multi_task.html which gives a page with the following text:

[2020-09-30 19:29] lena-kashtelyan commented on #387
That's perplexing, let me investigate.

[2020-09-30 19:56] lena-kashtelyan commented on #390
We're currently addressing that and will re-release a working version shortly!

[2020-09-30 22:30] mstfbl opened #391 "ModuleNotFoundError while importing AxClient"
Similar to Issue #387, we are seeing `ModuleNotFoundError`s while trying to import `AxClient` with Ax v0.1.15:

[code]

This error is occurring on Windows, MacOS, and Ubuntu Linux. BoTorch v0.3.1 is already installed.

[2020-09-30 22:48] stevemandala commented on #391
Hey @mstfbl, this is related to #387, we've got a fix incoming and will push a small release soon with the fix

[2020-09-30 22:49] stevemandala commented on #391
(Closing as duplicate of #387 )

[2020-09-30 22:49] #391 closed

[2020-09-30 22:50] stevemandala commented on #387
Update: Found the source of the problem, currently working on getting a fix committed (should be out in a bit) after which we will release a new version.

[2020-09-30 23:54] microprediction opened #392 "missing 1 required positional argument: 'standard_bridge_kwargs'"
When running the example on the homepage

[2020-10-01 00:16] lena-kashtelyan commented on #392
@microprediction, please post the exact code snippet you ran and the stack trace for the error that you got –– it's difficult to debug based on the information you gave.

[2020-10-01 00:22] stevemandala commented on #387
Fix is out 16cb8689, also released a new version (v0.1.16) which should be available from PyPl shortly

[2020-10-01 00:22] #387 closed

[2020-10-01 00:36] microprediction commented on #237
I see to have a similar issue with the "cover page" example .
https://github.com/microprediction/tuneup/blob/master/tests/test_ax.py

[2020-10-01 00:38] microprediction commented on #392
 
Lena,
 
    Code is at
https://github.com/microprediction/tuneup/blob/master/tests/test_ax.py
 
    I notice issue
https://github.com/facebook/Ax/issues/237 is similar
 
Peter
 

From: Lena Kashtelyan <notifications@github.com>
Reply-To: facebook/Ax <reply@reply.github.com>
Date: Wednesday, September 30, 2020 at 8:17 PM
To: facebook/Ax <Ax@noreply.github.com>
Cc: Peter Cotton <PCotton@intechinve

[2020-10-01 00:42] lena-kashtelyan commented on #392
@microprediction, the exception you show in the notebook appears different from the one in the title of this issue. The new exception you show was brought up in #387 –– the issue was with a faulty version we released earlier today. Updating to 0.1.16 should fix it. Feel free to reopen this or create a new issue if something is still not working!

[2020-10-01 00:42] #392 closed

[2020-10-01 00:49] microprediction commented on #392
 
Thanks for the speedy response.  Do you plan to release 0.1.16 to PYPI?  Currently the broken one is there.

 
 

From: Lena Kashtelyan <notifications@github.com>
Reply-To: facebook/Ax <reply@reply.github.com>
Date: Wednesday, September 30, 2020 at 8:42 PM
To: facebook/Ax <Ax@noreply.github.com>
Cc: Peter Cotton <PCotton@intechinvestments.com>, Mention <mention@noreply.github.com>
Subject: Re: [

[2020-10-01 00:57] microprediction opened #393 "warning issued for example on homepage"
/Users/petercotton/virtual-envs/tuneup/lib/python3.7/site-packages/ax/modelbridge/torch.py:311: UserWarning:
To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).

Reproduce:
https://github.com/microprediction/tuneup/blob/master/tests/test_ax.py

[2020-10-01 02:44] richardliaw commented on #387
Thanks for the fast turnaround!

On Wed, Sep 30, 2020 at 5:22 PM Steve Mandala <notifications@github.com>
wrote:

[2020-10-01 08:15] optiluca opened #394 "ax-platform 0.1.15 installation issues - ModuleNotFoundError: No module named 'ax.models.torch.botorch_modular'"
Hi.  I'm trying to install Ax, I've tried using conda, pip, python 3.7, python 3.8 and any permutation of the above but the error is always:

[code]
For this specific run, the setup is:

- Miniconda windows x86-64 4.8.5
- Vanilla Python 3.8.5 environment
- conda install pytorch torchvision -c pytorch
- pip3 install ax-platform

Everything runs without error, but then trying to open a python sessio

[2020-10-01 11:34] Pzmijewski opened #395 "Question: is the implementation of gen() for random forest planned?"
hey,
i´m writing my master thesis about bayesian optimization applied to a logistic simulation and want to benchmark GP-EI and RF-EI, because i´m primary using discrete values. Currently RF in Ax has no generate-function. Is it planned in the near future or is there any workaround to add a gen-function to the [RF-model](https://github.com/facebook/Ax/blob/16cb868911eecba323759e2e129df8833361e614/a

[2020-10-01 13:03] krfricke commented on #394
Hey @optiluca, it seems that you need the latest release `v0.1.16`, which hasn't been pushed to PyPI, yet.

[code]

will solve the problem for now.

@lena-kashtelyan this lead to problems in our integration tests, too. Can you update the PyPI package, soon?

[2020-10-01 16:19] sdsingh commented on #394
@krfricke, apologies for the breakage. We are working on pushing a new PyPI package by EOD today (hopefully sooner).

[2020-10-01 16:24] sdsingh commented on #395
Hi @Pzmijewski! I'm not sure of the current plans around the RF model. Let me check in with the owner of that project, @bletham, and we should be able to have a response for you early next week.

[2020-10-01 16:43] sdsingh commented on #393
Hmm, I can take a deeper look into this, but at first glance this warning actually seems a bit faulty. This line constructs from a numpy array, not copy construction from a tensor. In any case, this behavior should be safe.

[2020-10-01 16:58] lena-kashtelyan commented on #394
A new release is out (0.1.17) and should fix this. Please let us know if it does not!

[2020-10-01 17:29] lena-kashtelyan commented on #394
Closing issue as the fix for this is now on the stable version.

[2020-10-01 17:29] #394 closed

[2020-10-01 17:30] lena-kashtelyan commented on #390
This is now fixed.

[2020-10-01 17:30] #390 closed

[2020-10-01 17:33] Balandat commented on #393
@sdsingh are we sure this is a np array? Or are we believing the typing too much here? Seems quite plausible that this may be called on a Tensor / Tensoray somewhere.

[2020-10-02 09:40] optiluca opened #396 "CUDA - expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!"
ax.__version__
'v0.1.14'
botorch.__version__
'0.3.1'
torch.__version__
'1.6.0+cu101'

Running [this](https://gist.github.com/optiluca/265851e618919490cb311ce275b0fa0a) test script throws:

[2020-10-02 16:32] sdsingh commented on #393
Hmm, that's plausible. Given that this is the `NumpyModelBridge`, we really shouldn't make this call on Tensor. I'll take a deeper look.

[2020-10-02 18:33] sdsingh commented on #396
Hi @optiluca, thanks for the very clear repro. I opened https://github.com/facebook/Ax/pull/397, and will land this. You can patch this on now to unblock; we were not respecting the Torch default device.

[2020-10-05 15:45] bletham commented on #395
There aren't any current plans for implementing an RF-based BO method. The RF model in Ax is useful just for modeling and prediction, for instance as a baseline to which GPs model fit can be compared.

SMAC uses random forests in it's "HPO" mode (here is a usage example: https://github.com/automl/SMAC3/blob/master/examples/SMAC4HPO_acq_rosenbrock.py). It is the only RF-based BO method that I'm awa

[2020-10-05 20:35] sdsingh commented on #393
@Balandat, you're correct, in prediction the numpy array (observation features) is actually transformed twice. Hopefully it's an easy fix, looking into it.

[2020-10-06 19:36] lena-kashtelyan commented on #395
Closing the issue, since this is unfortunately something that is not on our plan.

[2020-10-06 19:36] #395 closed

[2020-10-06 19:41] lena-kashtelyan commented on #345
The fix for this is now on master, and you can view the fixed tutorial on the 'latest' version of the website: https://ax.dev/versions/latest/tutorials/raytune_pytorch_cnn.html : ) This should also remove the need to call `ray.run()` twice, @ilcord.

[2020-10-06 20:15] lena-kashtelyan commented on #380
Since formalized domain reduction is not currently on our roadmap and a viable workaround has been provided by @2timesjay, closing this issue. Feel free to reopen if you have further questions, @kjanoudi!

[2020-10-06 20:15] #380 closed

[2020-10-09 23:18] lena-kashtelyan commented on #317
@FriendLey, the fix for this is now on `master` and will be included in the next stable version we release!

[2020-10-17 01:05] aliosmanulusoy opened #405 "Installation fails on Windows"
I followed the docs to install Ax and ran `pip3 install ax-platform` on Windows. I get the following error:

[code]

[2020-10-17 13:41] 2timesjay commented on #405
@aliosmanulusoy are you able to use Conda? I've recently installed ax-platform and all its dependencies using conda on Windows.

Botorch has further instuctions here: https://github.com/pytorch/botorch#installation

Pytorch also suggests using Conda, and it looks like PyPi has not updated from 1.2 while I know that conda-forge has the most recent version: https://anaconda.org/pytorch/pytorch

[2020-10-17 14:51] Balandat commented on #405
The issue is that the windows binaries for pytorch are too big for PyPi, so you have to provide a mirror to pip. For torch that is (see the "getting started" instructions on the pytorch website): `pip install torch -f https://download.pytorch.org/whl/torch_stable.html`. After doing that the pip install should work.

We should probably find a way to automatically do that in the botorch setup, just

[2020-10-17 19:56] aliosmanulusoy commented on #405
Thanks @Balandat. Your suggestion worked for me.

[2020-10-19 01:03] #405 closed

[2020-10-19 14:20] akern40 opened #406 "Knowldedge Gradient on GPU"
## Summary
I'm having some trouble with knowledge gradient on GPU; specifically, I'm getting a device type mismatch while using a GP with KG to generate new points. It seems like `best_point_acqf` returns a `cpu` tensor, which is then leaves the `ax` ecosystem into `torch`, `botorch`, and `gpytorch`, where it flows through unaltered except for a few squeezes / unsqueezes. I'm not sure if the expec

[2020-10-19 21:29] Balandat commented on #406
Thanks for flagging this. We always return the best point to Ax as a CPU tensor (see here: https://github.com/facebook/Ax/blob/2c47e0497e866168c4dec6d32d1668dcc7ea40e1/ax/models/torch/botorch_defaults.py#L348). We'll just need to make sure to push that point to the right device here: https://github.com/facebook/Ax/blob/2c47e0497e866168c4dec6d32d1668dcc7ea40e1/ax/models/torch/botorch_kg.py#L279

I

[2020-10-20 14:37] Balandat commented on #406
@akern40 can you verify that this works for you on master now?

[2020-10-20 18:16] lena-kashtelyan commented on #406
Marking as 'fixready', since fix should now be on master.

[2020-10-21 21:20] akern40 commented on #406
Works like a charm on master, thanks!

[2020-10-21 21:20] #406 closed

[2020-10-22 07:44] winf-hsos opened #412 "Installing Ax on a Raspberry Pi (Model 3B+)"
Does anyone have experience with installing Ax on a Raspberry Pi, im my case the model is 3B+. I run Raspberry Pi OS 32bit and I also have one with the 64bit beta version. I'd like to install the Ax dependencies manually, but it's difficult to find the matching pre-compiled packages for the arm64 or arm7l architecture. Any help or hints (is this even possible?) would be very much appreciated!

Tha

[2020-10-22 15:56] stevemandala commented on #412
Hey Nicolas, this sounds super exciting! Admittedly I've been getting hyped up about ARM recently and it's great to hear Ax is finding it's way onto Raspberry Pis. Unfortunately, I don't think we've tried to build and run Ax & Botorch on ARM yet, but if you are able to get it to work, we'd love to head about it (and are open to PRs). Here are some rough notes that might help:

* Most of the common

[2020-10-22 19:27] Balandat commented on #412
Note that `scikit-learn` has a conda package for aarch64, in case you can use conda: https://anaconda.org/conda-forge/scikit-learn

Unfortunately no ARM-compatible pytorch conda package yet though...

[2020-10-23 07:54] winf-hsos commented on #412
Thanks for your replies. I suspected that 32-bit would be a problem, so I tried the Raspberry Pi OS 64bit (beta):

[https://www.raspberrypi.org/forums/viewtopic.php?t=275370](https://www.raspberrypi.org/forums/viewtopic.php?t=275370)

I also found the ARM64 build for PyTorch that @stevemandala refered to and successfully installed it on a model 3B+. That worked fine. I stopped when bulding scikit-

[2020-10-28 00:23] jieru-hu opened #417 "new UserWarning introduced by torch 1.7.0"
Our [application](https://github.com/facebookresearch/hydra/tree/master/plugins/hydra_ax_sweeper/example) started to get ```UserWarning``` from ax after the new torch 1.7.0 release

[code]

The torch warning was introduced in this [torch PR](https://github.com/pytorch/pytorch/pull/42249) and raise in ax in [here](https://github.com/facebook/Ax/blob/master/ax/modelbridge/factory.py#L375)

This warn

[2020-10-28 00:39] jieru-hu commented on #417
cc @shagunsodhani

[2020-10-28 15:00] lena-kashtelyan commented on #417
@jieru-hu, @shagunsodhani, hi! You could probably leverage the `warnings` library to suppress these in your application?

Something like this could work (I also advise you to look into making it more granular so you are not just suppressing any `UserWarning`, but that's up to you):
``
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
``

[2020-10-28 15:15] shagunsodhani commented on #417
Hi @lena-kashtelyan

For the short-term, we can go with suppressing the pytorch warning. Though I think that since torch is a dependency on the side of Ax, Ax should be handling these warning and probably be raising an error (if required) which the Ax-plugin can handle.

Another thing I will mention is, [this PR](https://github.com/pytorch/pytorch/pull/42249) suggests that the warning should be th

[2020-10-28 15:16] lena-kashtelyan commented on #417
We definitely will look into this! Just suggesting that you are able to suppress the warnings on your side, and we on ours will deal with them appropriately too.

[2020-10-28 16:30] graceboatman opened #418 "Store intermediary tables for demand forecasting"
Demand forecasting is slow because every time we call the method we recompute several dataframes, it would be useful to store these as tables in a database.

[2020-10-28 17:06] adamobeng commented on #418
Hi Grace!

Would you be able to share a little bit more about your application? In particular, what method are you calling? If you have any code we could look at, that would be helpful too!

[2020-10-28 17:17] #418 closed

[2020-10-28 17:18] graceboatman commented on #418
Hi Adam,

So sorry, this was an accident I didn't mean to post this here. (Wrong git repo!!!)

[2020-11-04 01:20] lena-kashtelyan commented on #417
This warning is now removed on master and will be removed in the imminent stable version release.

[2020-11-04 22:48] lena-kashtelyan commented on #417
The fix is now in the latest stable, 0.1.18.

[2020-11-04 22:48] #417 closed

[2020-11-04 22:49] lena-kashtelyan commented on #396
The fix is now in the latest stable, 0.1.18.

[2020-11-04 22:49] #396 closed

[2020-11-04 22:50] lena-kashtelyan commented on #393
The fix is now in the latest stable, 0.1.18.

[2020-11-04 22:50] #393 closed

[2020-11-04 22:51] lena-kashtelyan commented on #345
The fix is now in the latest stable, 0.1.18.

[2020-11-04 22:51] #345 closed

[2020-11-04 22:51] lena-kashtelyan commented on #317
The fix is now in the latest stable, 0.1.18.

[2020-11-04 22:51] #317 closed

[2020-11-06 15:16] grmaier opened #421 "High-dimensional discrete search space"
Is it possible to set up a multi-objective Bayesian optimization model where the search space is given by discrete points in a high-dimensional Euclidean space?
To be more specific: I have a data set X of about 10000 samples with each sample being a point in the unit cube [0,1]^30. I have two objective functions whose domain is given by the discrete set X. Is it possible to define the search space

[2020-11-06 16:02] sdaulton commented on #421
Is your discrete set the cross product of discrete sets of values for each dimension of X?
I.e. Is the following true?
If x = [x_0, ..., x_d] is a configuration and X_0, ... X_d are discrete sets of values for each dimension, then in if x_i  in X_i for i=0, ..., d, then x is a feasible configuration.

Or, is the discrete set a more restricted subset?

[2020-11-06 16:16] grmaier commented on #421
Thanks for your quick response @sdaulton!
Unforunately, the discrete set is in fact a more restrictive subset with no product structure as you described.

However, I thought about one issue which could resolve my problem: I could enumerate all discrete points from 0 to 10000 (say) and use the numbers 0,...,10000 as fixed parameters to build the search space. Then I would also change the domain of

[2020-11-06 16:29] sdaulton commented on #421
I'd recommend specifying the search space as continuous in the 30d-space, so that the GP accounts for the ordinal structure of each parameter (it is ordinal right?). Then you could define a custom `acqf_optimizer` that takes the acquisition function (currently it would have to be qEHVI) and evaluates it at every possible point and then returns the candidate(s) with the maximum acquisition value(s)

[2020-11-06 16:45] grmaier commented on #421
Thanks for this suggestion!
Sorry, could you explain to me what you mean by ordinal structure? I am not sure if I understand it correctly and why my suggested strategy above may not be the best to recommend.

[2020-11-06 17:41] sdaulton commented on #421
Ah I just mean was just distinguishing that if the values of a parameter (single dimension here) are ordered (e.g. 0.1 > 0.02 > 0.01), then making that parameter ordered in Ax (e.g. a FLOAT), will give that information to the model. In contrast if a parameter are not ordered and the values are simply different categories, then the model would one-hot encode that parameter.

[2020-11-06 17:45] ldworkin commented on #421
@sdaulton , @grmaier , I'm trying to understand this problem. Let me pretend d = 1, so we have a single dimension, and for simplicity X = {0, 0.5, 1}.

Is it correct that f(0) (where f is your objective) is closer to f(0.5) than it is to f(1)? Like, is there underlying smoothness here that a model can exploit?

Is it also correct that f(0.25) (where 0.25 is not in X) is completely undefined? Or is

[2020-11-06 18:06] sdaulton commented on #421
Even if the function is smooth, this is not necessarily true.

I'll let @grmaier comment on this

[2020-11-06 18:37] grmaier commented on #421
@ldworkin I don't really have much information about the objective functions f1, f2 and their regularity. I may assume that they continuous or maybe C^2 as they describe real-world ouput data of (expensive) experiments. But I actually only know their values at the discrete points in X. Outside of X, the functions are undefined.

Basically, I want to test if multiobjective Bayesian optimization is

[2020-11-09 22:57] rogertrullo commented on #345
Hi, is this really solved? I am facing the same issues as @ilcord , I am doing something like this:

`step1=GenerationStep(Models.GPEI, num_trials=-1, min_trials_observed=0, max_parallelism=None, use_update=False, enforce_num_trials=True, model_kwargs=None, model_gen_kwargs=None, index=0)`

`strategy=GenerationStrategy([step1])`
`ax = AxClient(generation_strategy=strategy, enforce_sequential_optim

[2020-11-09 23:25] rogertrullo opened #423 "[Ray] Integration with RayTune still has some issues: "NotImplementedError: RandomModelBridge does not support prediction." error"
Hi, I am having the same issues as @ilcord in #345
I am doing something like this:

`step1=GenerationStep(Models.GPEI, num_trials=-1, min_trials_observed=0, max_parallelism=None, use_update=False, enforce_num_trials=True, model_kwargs=None, model_gen_kwargs=None, index=0)`

`strategy=GenerationStrategy([step1])`
`ax = AxClient(generation_strategy=strategy, enforce_sequential_optimization=False)`
w

[2020-11-10 04:18] sdsingh commented on #423
Hi @rogertrullo! Sorry you're still experiencing this. As a first check, are you on the updated version of Ax mentioned in the original issue, 0.1.18?

[2020-11-10 06:08] rogertrullo commented on #423
Thanks @sdsingh yes I’m using the latest version.

[2020-11-10 18:10] Pzmijewski opened #424 "Parameter Constraint at ALEBO"
Hey,

i´m trying to implement some parameter constraints in my ALEBO optimization.
When adding the constraint the following Value Error occurs before the first trial evaluation starts. Without the constraint the optimization is running without any problems.
The error occurs in the optimize() of the managed loop.
[code]

Is there any possibility to implement parameter constraints in ALEBO?

[2020-11-11 13:47] ldworkin commented on #421
Will close for now then, let us know if you have any other questions!

[2020-11-11 13:47] #421 closed

[2020-11-11 16:12] lena-kashtelyan commented on #424
Hi, @Pzmijewski, I get a sense that this might be a bug actually. Before the error, do you see this log by any chance: https://github.com/facebook/Ax/blob/master/ax/service/managed_loop.py#L186? If so, what exception does it log?

cc @bletham to respond re: support for constraints for ALEBO in general.

[2020-11-11 16:17] lena-kashtelyan commented on #423
@rogertrullo, is `tune.run` in your case set up exactly like this: https://ax.dev/tutorials/raytune_pytorch_cnn.html#4.-Run-optimization? Changing `search_alg=AxSearch(ax)` to `search_alg=AxSearch(ax_client=ax, max_concurrent=3)` is crucial there, since it's the `max_concurrent` setting that prevents Ray from running all trials concurrently, which results in use of Sobol engine (with `RandomModelB

[2020-11-11 18:24] rogertrullo commented on #423
Thanks @lena-kashtelyan I was missing that!
so just to clarify, does it mean that if I set Sobol `num_trials=5` for example, and I set `max_concurrent=10` it will first perform the 10 parallel trials before moving to next generation strategy?

[2020-11-12 09:49] Pzmijewski commented on #424
Hi @lena-kashtelyan
this is the message i get:
[INFO 11-12 10:46:16] ax.service.managed_loop: Started full optimization with 15 steps.
[INFO 11-12 10:46:16] ax.service.managed_loop: Running optimization trial 1...
[ERROR 11-12 10:46:16] ax.service.managed_loop: Encountered exception during optimization:
Traceback (most recent call last):
  File "C:\code\black-box-opt\bbo-env\lib\site-packages\ax\s

[2020-11-12 17:46] bletham commented on #424
@Pzmijewski as you have discovered, the ALEBO implementation does not currently support parameter constraints.

In principal it can - the acquisition function optimization is anyway being done with a whole bunch of constraints to represent the high-dimensional box bounds, so adding a few more parameter constraints really wouldn't be a big deal.

The challenges comes with generating the embedding.

[2020-11-12 21:39] lena-kashtelyan commented on #423
@rogertrullo, that's right –– for the first batch of trials deployed in parallel, it will generate the maximum of `num_trials` in Sobol step and `max_concurrent` trials from Sobol. Since those trials are all generated at once and deployed concurrently, there is no data available during that generation, so the Bayesian optimization phase simply can't kick in until the first batch of `max_concurrent

[2020-11-12 21:40] lena-kashtelyan commented on #423
Closing the issue since it seems we answered the question; feel free to reopen if you have follow-ups, @rogertrullo!

[2020-11-12 21:40] #423 closed

[2020-11-13 11:49] Pzmijewski commented on #424
@bletham Thank you! Your comment helped a lot! Maybe i´m going to implement it on my own later, but currently the constraint is not essential for my optimization so i will focus on other things first.

[2020-11-13 12:06] Pzmijewski opened #426 "Question: ALEBO feature importance"
Hello,
is it possible to get the feature importance in ALEBO?

I know its works in normal Ax by using functions like:
`ax.plot.feature_importances.plot_feature_importance_by_feature(model)`

If i do it in ALEBO it get:
`torch.nn.modules.module.ModuleAttributeError: 'ModelListGP' object has no attribute 'covar_module'`

thanks

Philipp

[2020-11-16 16:11] lena-kashtelyan commented on #426
cc @bletham, who knows ALEBO best!

[2020-11-16 23:12] crrivero opened #430 "Using Service API to log previous trials"
I find the framework very useful, thanks! I am using it to select the best hyperparameter values for a set of machine learning models. In my setting, I am using the Service API since it takes a while to compute the actual output. Once I have the results, I report them back to the client. In some cases, I have data collected previously that I would like to consider in the experiment. I am using 'at

[2020-11-17 16:28] lena-kashtelyan commented on #430
Hi, @crrivero! You are doing everything correctly in terms of attaching trials and completing them and it is actually working as expected : )

I imagine you are referring to the fact that the trials are not appearing in `ax_client.generation_strategy.trials_as_df`, correct? That is expected in this case, since those are the trials that belong to the generation strategy on your experiment, so trial

[2020-11-17 17:51] crrivero commented on #430
Hi, @lena-kashtelyan. Thanks for your prompt answer! I am actually able to see the best parameters using the three functions (ax_client.get_best_parameters() and the ones you suggested). The same values are reported in all cases. However, if I have trials attached to a certain generation strategy and I attach these trials, the ones I manually attached are not considered.

It makes sense that the t

[2020-11-17 21:24] rjurney opened #431 "Constant parameters to avoid rewriting parameter fetching code"
I want to be able to set parameters to constant values so that I can freeze them without having to replace my `parameters.get("value")` calls with `value`.

[2020-11-17 21:32] lena-kashtelyan commented on #430
That's interesting, let me look into it!

We offer a way to just resume both the experiment and the generation strategy, would that work for you? If so, you can just do: `new_ax_client = AxClient.load_from_json_file()`, as shown in this section fo the tutorial: https://ax.dev/tutorials/gpei_hartmann_service.html#7.-Save-/-reload-optimization-to-JSON-/-SQL. Let me know if that's not exactly what yo

[2020-11-17 21:41] lena-kashtelyan commented on #431
@rjurney, could you provide a bit more detail? I don't quite understand what you are looking to do. It would help to see:
- which API you are using (Service? Loop? Developer?),
- the snippet of what you are currently doing,
- what you'd like it to look like.

One wild guess I can take is that fixed parameters might be what you are looking for: here are the [API docs for those](https://ax.dev/api/c

[2020-11-17 23:09] bletham commented on #426
Not really, we should probably have this throw a better error :-)

Feature importance in a GP is usually measured by looking at the ARD lengthscales for each parameter. With ALEBO the GP is fit only in the embedding, and then the metric is the Mahalanobis metric instead of the ARD metric. But we don't really care about feature importance within the embedding, we are interested in feature importanc

[2020-11-18 02:15] rjurney commented on #431
Thank you, I searched for a fixed type and couldn't find it.

[2020-11-18 13:41] ldworkin commented on #431
Great, let us know if you have any other questions!

[2020-11-18 13:41] #431 closed

[2020-11-18 18:45] johnbenweber opened #433 "Runtime Error when running multitask bayesian optimization"
Hi guys, when running a multitask bayesian optimization I get the following error:

`RuntimeError: size is inconsistent with indices: for dim 1, size is 1 but found index 1`

This issue looks almost the same as [183](https://github.com/facebook/Ax/issues/183#issuecomment-547611788). The difference is that I think I have the most up to date release versions of each of the requisite libraries.

[cod

[2020-11-18 19:14] lena-kashtelyan commented on #433
Hi, @johnbenweber! Would you be able to post a snippet of your experiment and of how you are running the optimization, so we can reproduce this?

[2020-11-18 20:12] johnbenweber commented on #433
I don't have a minimal version of my code to reproduce the error but it looks like the [Multi-task Bayesian Optimization](https://ax.dev/tutorials/multi_task.html) tutorial produces the same error for me.

[2020-11-18 21:49] lena-kashtelyan commented on #433
Got it, thank you! We will look into it soon.

[2020-11-20 12:41] johnbenweber commented on #433
I thought this might have been caused when I upgraded to a new computer because the versions of those libraries I have now are newer than my last working configuration. I created a virtual environment and installed libraries with version numbers matching what I had before but ran into the same error. I also tried setting the `CUDA_VISIBLE_DEVICES=" "` environment variable to disable Cuda but still

[2020-11-20 13:50] johnbenweber commented on #433
I installed the repository version of gpytorch using ```pip install --upgrade git+https://github.com/cornellius-gp/gpytorch.git``` and that seems to have resolved the problem.

@lena-kashtelyan thanks for having a look even though AX wasn't the culprit!

[2020-11-20 20:37] lena-kashtelyan commented on #430
@crrivero, I'll close this since I hope my answer above should've covered what you were looking for. Feel free to reopen and follow up if not!

It is strange still that getting best point from experiment with attached trials only did not work, and we'll definitely look into that, but that doesn't seem to be the main point of this issue, so seems fair to close.

[2020-11-20 20:37] #430 closed

[2020-11-30 16:19] Balandat commented on #373
Hi @kemites, we have added functionality for multi-objective optimization, please see the tutorial for details how to set this up: https://ax.dev/tutorials/multiobjective_optimization.html

[2020-11-30 16:19] #373 closed

[2020-12-01 14:31] yoavnavon opened #439 "Rounding errors in get_next_trial()"
Hi, I'm creating an experiment with the following parameters:

[code]

But when I generate new points, using `ax_client.get_next_trial()` the proposed trials fall outside of the bounds, probably because of a rounding error. When I try to attach the point I get the following error:
[code]

[2020-12-01 18:51] adamobeng commented on #439
Hi @yoavnavon! I've seen this happen before, but only with log-scale parameters where the transformation was presumably to blame for the numeric error. Let me look into this.

[2020-12-01 19:06] adamobeng commented on #439
It looks like we'd previously figured out a fix for this issue, it should available in the repo in the next couple of days!

[2020-12-03 17:28] optiluca opened #440 "saving MultiObjective Model -> JSONEncodeError"
I've made a simple demo script based on https://ax.dev/tutorials/multiobjective_optimization.html, which you can find here https://gist.github.com/optiluca/feea7e9c4c91dd84daf3885eca7378c1.   I've added a save step, which fails with:

ax.exceptions.storage.JSONEncodeError: Object OptimizationConfig(objective=MultiObjective(metric_names=['a', 'b'], minimize=False), outcome_constraints=[], objective

[2020-12-04 19:39] 2timesjay commented on #440
This is fixed in https://github.com/facebook/Ax/commit/ac2f7bbf7881cdf23ad466c88a5f7cd8db0f40b7#diff-c91239c574c9aeea90ec894c8e5612318015e877b5195ab36bf885f83147a03f

You can build from the most recent master version or patch in the fix yourself (we don't have a date for our next release but we will aim for sometime in the next 3 weeks).

You'll also need to register the metrics being saved with t

[2020-12-04 19:39] #440 closed

[2020-12-07 09:54] Pzmijewski opened #442 "ALEBO Memory problem"
Hello,

i started  a few ALEBO experiments on a Linux VM (2 CPUs, 8GB RAM) at the cloud. The ALEBO-Parameters of two of them are the following:

Exp1:
D=60
d=14
n_total = 300
n_init = 250

Exp2:
D=60
d=14
n_total = 500
n_init = 350

After the init trials (SOBOL) ran I got the following error:

Exp1:
`RuntimeError: [enforce fail at CPUAllocator.cpp:64] . DefaultCPUAllocator: can't allocate memory:

[2020-12-07 16:12] adamobeng commented on #442
Thanks for posting, Philipp. Let me look into this and get back to you.

[2020-12-07 16:14] adamobeng commented on #439
@yoavnavon : our suggested fix is in this commit: https://github.com/facebook/Ax/commit/e4498ac9d54a9f77dc33ed1e28df253661574753

Could you see whether this works for you?

[2020-12-08 02:52] drelum opened #443 "Contextual Bandits"
Hi,

I couldn’t find any example on how to pass context to the MAB experiment trial. Does it support context?

Thank you

[2020-12-08 03:40] sdsingh commented on #443
Hi André!

Do you have some more information about the problem you're trying to solve?
In the Ax Thompson Sampling algorithm, we unfortunately don't support contexts. However, we have recently added contextual support to the Bayesian Optimization algorithms, in https://github.com/facebook/Ax/commit/956019be0a2a3ab0cb9e115de7a64bc5b03c41be (thanks to @qingfeng10!)

[2020-12-09 23:26] bletham commented on #442
Hi, I don't know that I can suggest much besides increasing the RAM. GP regression (as in gpytorch) can be a bit RAM heavy. The problem specs you described (dimensionality, number of data points) are certainly within the scope of what should work. Most of the benchmarking that I've done has used machines with 16Gb of RAM, though with the experiments with 500 points were on a machine with 48gb of R

[2020-12-10 15:34] NazyS opened #454 "Question: max number of objectives for multiobjective optimization"
Working on multiobjective opt. I discovered that there is max number of objectives for MultiObjectiveOptimizationConfig() class in ax.core.optimization_config which is defined with a variable MAX_OBJECTIVES = 4. It is used only in a single method of above mentioned class _validate_optimization_config() which is raising an error in case of extra objectives.

I would like to ask why it's there and i

[2020-12-10 15:58] sdaulton commented on #454
Thanks for raising this. There is not fundamental reason for this limit. I'll put up a PR to remove it. The results of the optimizing more than 4 objectives become harder to reason about, so if you are open to sharing, I would be curious to hear about your use case and how you evaluate the results.

[2020-12-15 13:08] NazyS commented on #454
Thanks for your reply

We're optimizing the model based on MC generator with up to 8 hyperparameters in order to describe a number of distributions (13 for now).  Single loss is just a mean linear/squared relative deviation between each target and our output.  With single object optimization (minimization of mean loss among all targets) we obtained sufficient results but also we managed to greatly

[2020-12-15 15:28] Balandat commented on #454
Well, while there is no reason to put a hard limit on the objectives as there was in code before, there are definitely going to be scalability issues with a large number of objectives. In higher output dimensions the Pareto front can become very complex and contain a ton of points, and the decomposition that is computed to compute hypervolume also blows up. You can use approximate decompositions (

[2020-12-15 15:29] sdaulton commented on #454
+1, I would recommend using qParEGO for 13 objectives instead of qEHVI for the reasons @Balandat listed above.

[2020-12-15 20:23] eytan commented on #454
Yes, so that is as easy as using get_MOO_PAREGO() instead.

On Tue, Dec 15, 2020 at 9:29 AM Sam Daulton <notifications@github.com>
wrote:

[2020-12-15 20:43] lena-kashtelyan commented on #426
Will close this for now, as it seems that it was answered as best it can be by @bletham, and there is no plan to support this functionality in Ax currently.

[2020-12-15 20:43] #426 closed

[2020-12-16 04:01] lena-kashtelyan commented on #442
Closing this one, as it seems that it has been answered and this is not something we plan on fixing on our side. @Pzmijewski, please feel free to reopen if you have any follow-ups!

[2020-12-16 04:01] #442 closed

[2020-12-18 15:16] lemairecarl opened #457 "Raytune notebook tutorial is broken"
The output of cell 6 contains a literal ocean of stacktraces:
https://ax.dev/tutorials/raytune_pytorch_cnn.html

[2020-12-18 15:23] ldworkin commented on #457
Hi @lemairecarl ! Yea, this is a known issue on our end and has proven trickier to debug than we'd like (the issue seems to be related to Travis and is hard for us to repro locally). We'll try to investigate/fix soon.

[2020-12-21 03:36] dong-tony opened #459 "Discrete examples in high-dim search space and service API"
I am working on a chemistry problem where I have a database of ~40000 molecules that have ~50 continous descriptors each. I am trying to use BO to optimize a certain property of the molecules, which have to be evaluated externally through simulations (the service API seems great for this). I already have ~300 molecules that I know the property values of from prior simulations, and I wish to use th

[2020-12-21 06:26] eytan commented on #459
Hi Tony,

This sounds like a very interesting problem. If I understand your setup
correctly, you are performing some sort of expensive search process where
evaluating any given molecule is time intensive, and for each molecule you
measure some score. You’ve already computed these quantities for 300
molecules. You can cheaply evaluate your surrogate wrt 40k molecules, and
your idea is to do explore

[2020-12-21 17:44] lena-kashtelyan commented on #457
@lemairecarl, for what it's worth, the tutorial should actually be able to run locally; it seems that the issues with it on the website might stem from running it in the continuous integration service that we use for testing and website deployment. If you are looking to use Ax with Ray, try out running that tutorial locally –– it should work (please let us know if it doesn't).

[2020-12-21 18:04] dong-tony commented on #459
Thank you so much for your suggestions!

Yep! that's exactly it.

I will definitely try implementing your suggestions. In terms of similar setups in literature, there is a [fairly recent one](http://doi.org/10.1021/acs.chemmater.0c00768) and examining their [code](https://github.com/hieuadoan/QM-ActiveLearning-Paper/blob/master/BO-1400HBE.ipynb) it appears the way they optimized their acquisition

[2020-12-21 18:55] eytan commented on #459
You can definitely just evaluate all 40k points EI and pick the best.  There is nothing wrong with that, and should work well if it's fast enough for you.

Please keep us posted on how that works out. If your number of function evaluations is quite limited, you can also try out using a random embedding-based method like ALEBO (although @bletham would have to give you pointers on how to hook that u

[2020-12-21 21:21] ertandemiral opened #460 "how to force models to make more exploration"
Hi,

I would like to thank everyone who contributed to this great library. It enables easy use of Bayesian optimization to solve problems with the state of the art algorithms.

I have implemented Ax for my single objective design optimization study. Here is the code snippet:
`
from ax.service.ax_client import AxClient
from ax.modelbridge.generation_strategy import GenerationStep, GenerationStrateg

[2020-12-21 23:54] Balandat commented on #460
So I guess it really depends on the behavior of `f` how much additional exploration you'd want. By default we use `NoisyExpectedImprovement` as the acquisition function, which generally works well but there may be cases where something like an upper confidence bound method works better. If it were me, I would probably try to see how UCB does here.

Orthogonal to that, another challenge may be the

[2020-12-22 05:03] dong-tony commented on #459
Just to learn some of the basics and test my code I was running some trial experiments on my initial 300 molecule set that I know the scores of. I first tried the standard method I saw in literature where I evaluate EI at every possible point i.e. `X_next_index=argmax(acq_values)` and this was done with the analytic EI (q=1). I was still doing this within the TuRBO-1 framework and just replaced th

[2020-12-22 05:22] blenderben2 commented on #228
hi, any updates on this?

[2020-12-22 10:04] ertandemiral commented on #460
Thank you for the quick response,

`Models.BOTORCH` (red line circle) seems to use noisy expected improvement as acquisition function by default as you said. It is usually giving better results (lower objective values) compared to other models, however, there is no significant difference between objective value behaviors. I would like to try UCB for my study, but I could not find related model und

[2020-12-22 16:53] eytan commented on #459
I am pretty sure that it should be possible to use qEI in your case, but it will require some custom code.  In particular, you could fork `optimize_acqf` to just evaluate some pre-specified set of points, rather than use optimize over some initial set of parameters `batch_initial_conditions` via `gen_candidates_scipy()`.  I'll loop in some other folks who can share more ideas / maybe lend a hand.

[2020-12-28 19:46] eytan commented on #454
@NazyS, I am assuming this resolved your issue.  Feel free to re-open if you are still having difficulties.

[2020-12-28 19:46] #454 closed

[2020-12-29 11:09] aero-108 opened #461 "How to limit number of CPU cores Ax uses?"
Hi,
can anyone tell me how to limit CPU cores?
Simple trial use all cores:

[code]

[2020-12-29 13:55] Pzmijewski opened #462 "Question: Expected Improvement Value in ALEBO"
Hello,

is there a possibility to get the EI-Value of a single Trial in ALEBO?
I know that in 'normal' GPEI-BO its saved inside the experiment json under 'generator_run.gen_metadata.expected_acquisition_value'. In my ALEBO model gen_metadata is empty in each trial.

thanks in advanced

Philipp

[2020-12-29 15:50] untoreh opened #463 "add multi objective support to ax client"
The `AxClient` expects only one metric and the experiment update operations need to be modified for it..

[2020-12-29 16:57] lena-kashtelyan commented on #463
We plan on adding support for multi-objective optimization in Ax Service API sometime soon, likely in the next few months.

[2020-12-29 16:58] lena-kashtelyan commented on #461
cc @Balandat, who I believe might know this.

[2020-12-29 17:01] lena-kashtelyan commented on #460
@ertandemiral, we are currently wrapping up work on a new `BoTorchModel` setup in Ax that will allow you to plug in any BoTorch `AcquisitionFunction` into Ax more easily. Discussion of that is here: https://github.com/facebook/Ax/issues/363, and I'll post a new and improved tutorial for the new setup in that issue shortly.

[2020-12-30 10:31] ertandemiral commented on #460
Thank you @lena-kashtelyan ,

I managed to plug in UCB acquisition function into Ax by creating  `get_UCB `function factory and passing it as kwargs to `GenerationStep`. And, I also passed the necessary  input values of `beta `and `maximize `keywords (0.2, False) as kwargs and added them as argument to the `make_and_optimize_acqf `function. Code has run with no error, however I could not get any b

[2020-12-30 16:34] Balandat commented on #461
So we don't do any explicit multiprocessing / threading handling in Ax/BoTorch, this is the default threading behavior of MKL (which is used under the hood in PyTorch for the heavy lifting GP and linear algebra computations).

I haven't tried this myself yet, but you should be able to disable this on the pytorch end using https://pytorch.org/docs/stable/torch.html#torch.set_num_threads. You can al

[2020-12-31 11:19] nwrim opened #464 "Making sure model.gen() generate designated number of arms"
Hi,

We are a group of social scientists trying to use Bayesian optimizations in our experiment. We came across this wonderful library a few days ago and are trying to see how we can use it for our experiment. While trying out some features, we came across a problem that when using models in `ax.modelbridge.factory`, the number of arms generated from .gen() is less than what we feed in. For exampl

[2020-12-31 18:43] ldworkin commented on #460
@ertandemiral I'm glad to hear that removing the choice parameters seems to work for you!

re: the `minimize` keyword, that's a good question -- given your custom setup, it seems likely to me that this parameter has no effect, but maybe @lena-kashtelyan  has a better idea.

[2020-12-31 22:53] ldworkin commented on #464
Hi @nwrim ! Thank you for the detailed explanation. I was able to reproduce the exact behavior you're seeing. I believe what's happening is that, under the hood, we treat your parameters as floats, rather than ints. The model generates 10 float candidates, as expected. But then, we round them down to integers before returning the candidates to you. In this case, after rounding, many of the arms tu

[2020-12-31 22:53] ldworkin commented on #464
rpre

[2020-12-31 22:58] ldworkin commented on #464
Oh and yes, your decision to use BatchTrial is correct and for exactly the right reason!

[2021-01-02 03:28] nwrim commented on #464
Thank you so much for your answer! I will close the issue since your answer makes a lot of sense.

[2021-01-04 17:22] ldworkin commented on #228
Hi @blenderben2 ! I don't think there's anything new that's been shipped yet, but we should be able to help you figure out a workaround based on your particular use case -- can you provide more details about what kind of optimization you're running, and when you're seeing this error?

Without knowing more, the best solution is probably what @lena-kashtelyan suggested above:

In other words, if you

[2021-01-04 18:33] aliosmanulusoy commented on #463
I'd find this useful too!

[2021-01-04 18:35] aliosmanulusoy opened #465 "Does Ax support One-Shot Knowledge Gradient?"
One-shot KG seems to perform better than EI and noisy EI according to the BO paper https://arxiv.org/pdf/1910.06403.pdf.

[2021-01-05 11:35] davidjgoss opened #466 "migration to docusaurus 2"
As part of [an effort to roll out Docusaurus 2 and test its site migration tools](https://github.com/facebook/docusaurus/issues/1834), would you be okay with having me (or somebody else) do a PR that migrates the Ax website to Docusaurus 2?

[2021-01-05 14:33] ldworkin commented on #466
Hi @davidjgoss! Sure, this sounds good to me. Are there any downsides to it? I can't think of a reason why this would be a problem, but I'm also not very familiar with Docusaurus.

[2021-01-05 15:09] stevemandala commented on #465
Hey @aliosmanulusoy! We do support one-shot KG as one of the models, we include it in our model registry, so you can instantiate it like an Ax EI model:

[code]

The implementation is here: https://github.com/facebook/Ax/blob/master/ax/models/torch/botorch_kg.py

(By no coincidence, the authors on that paper are Ax contributors, so let us know if you have any questions or feedback)

[2021-01-05 15:09] #465 closed

[2021-01-05 16:16] Balandat commented on #466
When we looked at this in the past, one issue was that we do some manual versioning of the whole site (incl. tutorials and Sphnix-generated API docs), and docusaurus2 at the time wasn't able to properly support that. So we want to make sure that the functionality remains as is (or gets better) with the migration.

If you are considering migrating Ax, please also consider migrating pytorch/botorch,

[2021-01-05 17:00] davidjgoss commented on #466
@ldworkin @Balandat looking at the current site I don't think there should be any blockers. Versioning wasn't there in the earlier alphas but is well supported now including by the migration tooling. i18n is still not there but I don't think the Ax site uses that?

[2021-01-05 18:29] aliosmanulusoy commented on #465
Thanks! I'll give it a try.

A quick feedback: it'd be great if there was some documentation about the models already implemented in the registry. I had seen the GPKG model but thought it was Frasier's KG, and not the approach proposed in the paper you cited.

[2021-01-05 19:52] Balandat commented on #466
Just to be clear, this is versioning for externally include sites such as the tutorials and the sphinx-autogenerated html code that we stick into the site. This versioning happens in https://github.com/facebook/Ax/blob/master/scripts/publish_site.sh. We do not use i18n.

[2021-01-06 00:51] 2W-12 opened #468 "How to do nested/hierarchical params ?"
Guys, any idea how to do such hyperparams tuning ?
Based on following params I want optuna to do following trials:
Trial 1: {'GROUP_1': False, 'p1_general': 4}
Trial 2: {'GROUP_1': {'p1': 1, 'p2': 4, 'p3': 5}, 'p1_general': 7}
and so on.
Is it possible ?

[code]

[2021-01-06 07:02] Balandat commented on #468
We don’t have support for this currently, but @dme65 has some promising work on hierarchical search spaces that would achieve exactly what you’re trying to do, likely at a better sample efficiency than Optuna.

For now though the most straightforward thing to do without doing something custom is to just use the union of all parameters and ignore the respective irrelevant ones in the different bran

[2021-01-07 02:17] ldworkin commented on #468
Duplicate of #140

[2021-01-07 02:17] #468 closed

[2021-01-07 02:45] #462 closed

[2021-01-07 13:50] ldworkin commented on #462
Hi @Pzmijewski -- this should be fixed in https://github.com/facebook/Ax/commit/e3aa309a1af8c93c84198125713a1164ae06e1ad. Let us know if that addresses your concern!

[2021-01-07 17:10] bletham commented on #462
Yeah this was just a matter of hooking up some plumbing, here is a simple test-case
[code]

[2021-01-08 06:33] eytan commented on #465
It’s still KG, it’s just a different way of optimizing the KG objective :) It might still be good to add a reference to the BoTorch paper in the comments, cc @danielrjiang. Also not sure why we don’t support constraints in Ax KG—this should work just fine in BoTorch.

[2021-01-08 09:30] Pzmijewski commented on #462
Hey,
thanks a lot for adding it that fast. It works also in my optimization.

[2021-01-08 15:02] nwrim commented on #464
Our team had been discussing this, and we have two new questions:

1) Is there a way to find out how many candidates were collapsed together for each arm after rounding? (i.e., is there a way we can know how many times the model suggested each arm, something like "arm 0 was suggested 4 times and was collapsed together")
2) What could be some potential downfall if we treat our parameter space as fl

[2021-01-08 21:52] bletham commented on #464
1. The candidates are collapsed when the arms are assembled into a GeneratorRun. That happens here in the `gen` method:
https://github.com/facebook/Ax/blob/e2808a9960a87831347658f6986ab76b9ded739a/ax/modelbridge/base.py#L680-L699

If you look at the GeneratorRun, the weight for each arm will be the number of times it was produced during the call to `gen`. So if there were 3 candidates collapsed to

[2021-01-11 18:02] nwrim commented on #464
Thank you so, so much for the detailed answer!

[2021-01-11 18:02] #464 closed

[2021-01-11 18:26] lena-kashtelyan commented on #460
@ertandemiral, I believe @ldworkin is correct, `minimize` will take no effect on the optimization itself. That keyword results in setting the direction of the `Objective` object in Ax, which in turn sets the objective direction in BoTorch, but given that your objective is constant, I don't think that setting will have a meaning in this case.

cc @Balandat in case he has thoughts on the setup

[2021-01-12 06:09] Balandat commented on #460
Yeah qNIPV is agnostic to the direction, the goal is to minimize a global measure of uncertainty of the model, so there is no better or worse w.r.t. the function values.

[2021-01-12 22:55] mkhan037 opened #471 "Excluding certain parameter values from future trials by abandoning them does not work"
Hi, I am trying to minimize the execution cost of some distributed applications through optimal resource allocation. Currently, I am exploring the optimization of a small search space, which will be expanded after we figure out the necessary implementation details. The search space right now only consists of a range parameter that indicates **the number of worker nodes** needed for execution.

Whe

[2021-01-15 10:13] reiter-ja opened #472 "ScalarizedOutcomeConstraint support (e.g. sum outcome constraint)"
Hello Ax team,

Is there a way to use **SumConstraint()** as an **OutcomeConstraint()** with a set of different metrics?

Background:
I have a set of metrics, each of them depends on three input parameters:
_Metric1 = f(x1,x2,x3)_
_Metric2 = f(x4,x5,x6)_
_Metric3 = f(x7,x8,x9)_

Now I want to set an outcome constraint like:
_Limit <= Sum(Metric1, Metric2, Metric3)_

Right now I use python to calcu

[2021-01-15 20:28] winf-hsos opened #474 "TuRBO support in Ax"
Hi, do you have a working example to integrate TuRBO with Ax yet? Are there plans in this direction?

I have recently read the paper and ran the Botorch example for the TuRBO-1 algorithm. We are currently working on optimizing a 60 dimensional (and larger) simulation model. We tried ALEBO but didn't get good results, probably due to too many parameters being important for the outcome.

Thank
Nicol

[2021-01-15 21:22] lena-kashtelyan commented on #471
Hi, @mkhan037, thank you for reporting this! This looks like a it might be a bug –– we'll investigate and get back to you.

[2021-01-15 21:29] Balandat commented on #474
Hi and thanks for your interest.

We have an internal implementation of TuRBO in Ax, but it's quite complex and optimized for a particular high-dimensional high-throughput asynchronous optimization problem (hundreds of parameters, tens of thousands of evaluations, with high parallelism).

We are in the process of refactoring this, and we hope to be able to generalize this enough so we can make it

[2021-01-15 22:26] lena-kashtelyan commented on #472
Hi, @reiter-ja! This functionality is currently not supported, unfortunately, but not because there is a methodological blocker –– it's just something we have not yet had requests for and therefore have not dedicated the engineering effort to. We'll look into adding support for this, and I will let you know once we have a plan (or a decision that we are not supporting this in the short term).

[2021-01-16 07:41] ertandemiral commented on #460
Thank you for your comments.

[2021-01-16 07:41] #460 closed

[2021-01-18 16:57] lemairecarl commented on #457
Ok good.
But even if it's just because of CI, it makes the page (almost) useless.
I can understand you have better things to do than fix that, though!

[2021-01-19 16:24] lena-kashtelyan commented on #472
Update on this: while we are interested in supporting this functionality, we probably will not get to it in the short-term, so marking this item as 'wishlist' for now.

[2021-01-19 16:25] lena-kashtelyan commented on #457
We are prioiritizing the fix for this, and it should be up on the website soon.

[2021-01-20 11:14] soerenjalas opened #475 "Multi-fidelity optimization with KG and service API"
Hi,
First off, thanks for the great work! I've been trying to run multi-fidelity optimization using the one-shot-KG method from botorch with the service API. In principle, everything seems to run fine. However, I noticed that the optimizer keeps running in the lowest fidelity and does not explore in this parameter.
To see I've this is an issue with my problem I tried to reproduce the MFKG example

[2021-01-20 15:08] adamobeng commented on #475
Hi @soerenjalas! Thanks for the great repro example; let me look into this.

[2021-01-20 15:25] Balandat commented on #475
cc @danielrjiang

[2021-01-21 04:08] toshihikoyanase opened #477 "[Feature Request] Optimization over high-dim discrete / combinatorial search spaces"
Thank you for the great library!

I'm new to Ax and trying it with simple benchmark functions. I found that the EHVI might be less effective than simple Sobol sampling when I test it with the [multi-objective knapsack problem](https://sop.tik.ee.ethz.ch/download/supplementary/testProblemSuite/). As can be seen in the following plots, EHVI found fewer solutions. In addition, it tended to violate th

[2021-01-21 05:55] Balandat commented on #477
This is a combinatorial optimization problem, for which many of our current models / optimization approaches are not well suited. Specifically, under the hood we by perform a continuous relaxation of the integer parameters and optimize in that relaxed space using gradient-based optimization (this is where EHVI shines in more conventional problems with continuous parameters). As a result, the optim

[2021-01-21 19:15] soerenjalas commented on #475
Hi,
to follow up on this: I think I managed to get it working more like I would expect. The behaviour seems to be related to the `cost_intercept` value of the KG object:

[code]

After setting the parameters from the named botorch example, the fidelity is better explored.
![Unknown-4](https://user-images.githubusercontent.com/10922951/105400579-6603c300-5c25-11eb-8e39-35e8e7ecfa4a.png)

[2021-01-22 00:47] toshihikoyanase commented on #477
@Balandat Thank you for your response. I understand that the performance degradation can be expected when I apply EHVI to the combinatorial optimization including the knapsack problem. I'm looking forward to new models/optimization methods for the problem.

Can I close this issue since my question was answered. Or, should I keep it open as a tracker of the feature request?

[2021-01-22 01:34] Balandat commented on #477
Feel free to leave it open. I'll rename it to make it more clear that this is a feature request.

[2021-01-25 04:24] sczhang870330 opened #478 "Slow GPEI candidate generation on Cloud-CPU"
ax is a good optimization library.
I am new to the ax platform, but recently discovered that when using the gpei model to generate parameters, the execution time of the program is much slower than before. (  ex: experiment.new_trial(generator_run=gpei.gen(1))  )
Don't know what the problem is?
Thank you!

[2021-01-26 05:53] sczhang870330 commented on #478
Thank you for your reply.
I understand that the GPEI strategy requires fitting surrogate model, so it will be slower than the sobol strategy, but recently it is unusually slow. Using gpei to generate a parameter combination used to only take about 10 seconds, but it may take several minutes recently. , I wonder if anyone has the same problem with me? Thank you

[2021-01-26 14:26] ldworkin commented on #478
@sczhang870330 , can you provide a minimum repro of your code, or at least some more details about the optimization problem you're working on?

[2021-01-26 16:15] lena-kashtelyan commented on #457
The tutorial is now fixed and on master, the latest version of the website reflects the fixes: https://ax.dev/versions/latest/tutorials/raytune_pytorch_cnn.html. This will be included in the next stable version we will be releasing soon.

[2021-01-26 17:59] danielrjiang commented on #475
Hi @soerenjala, that's a great question. So what's happening here is that the multi-fidelity KG acquisition function optimizes an objective of the form `information_gain / cost`. When the cost model is improperly specified (particularly if the cost intercept is too low), then arms with cost near 0 can be heavily favored. It seems like in this case, the default cost specification was incompatible w

[2021-01-26 17:59] #475 closed

[2021-01-29 01:59] pykao opened #481 "Hyperparameter Tuning of Deep Neural Network for Regression Task"
Hi,

I tried to tune the hyperparameter of deep neural network for regression task. I refer to your tutorial, and it set the `object_name='accuracy' for the classification task.

[code]

However, the task I have is regression task, and the object is to find the smallest mean square error (MSE). Do you know how to approach this problem?

Best,
Ken

[2021-01-29 20:07] ldworkin commented on #481
Hi @pykao , have you taken a look at this tutorial? https://ax.dev/tutorials/gpei_hartmann_loop.html

You can use any function you want for the evaluation, and it can return any metric!

[2021-02-02 01:45] pykao commented on #481
Thank you for your reply @ldworkin. I am going to take a look at the tutorial.

[2021-02-02 01:45] #481 closed

[2021-02-02 19:31] IgorKuszczak opened #483 "Outcome constraints and feasible points"
Hello,
I am using Ax's Loop API for a minimum weight design of a truss structure with two black-box constraints - one relating to maximum allowed deflection and another for the maximum allowed stress.  To set up the optimizer, I followed the Loop API Tutorial  (https://ax.dev/tutorials/gpei_hartmann_loop.html) and I have some doubts about how the `outcome_constraints` option works. The optimizatio

[2021-02-02 23:59] alexeib opened #484 "Ax does not actually recommend the best parameters"
see discussion here: https://github.com/facebookresearch/hydra/issues/1352

the basic issue is that the best parameters recommended by ax (as exposed by hydra integration) are often, in fact, not best as there can be other runs during optimization that achieved better objective value, but ax instead can recommend parameters from a worse run. this is at very least confusing, requires manual paramet

[2021-02-03 02:51] Balandat commented on #484
I am not particularly familiar with the hydra integration, but we certainly strive to exploring the search space in a way to find near-optimal parameters. We will take a look at the details of the integration.

Regarding the discrepancies between "suggested best" and "observed best" values: We use a model to fit the response surface and then use that to quantify the value of a configuration. This

[2021-02-03 05:28] sdsingh commented on #483
Hi there!
Here's my current understanding of your issue:
The point obtained by optimizing `objective_mean` across trials yields a _better_ objective value than the point returned by `optimize`.

To directly answer your question: `means` returns a feasible point, but not the last feasible point. Rather, it returns the _best_ feasible point, taking `outcome_constraints` into consideration.

Overall,

[2021-02-03 20:48] mkhan037 commented on #471
Hi, @lena-kashtelyan just following up to see if there is any update on this. Also, I was thinking of using the following strategy to tackle the issue if abandoning the trials does not work. Please let me know if they seem feasible or not.

1. For the initial points, generate points using SOBOL one by one and skip if the produced point is infeasible.
2. For the BO steps, customize the acquisition

[2021-02-04 01:58] alexeib commented on #484
hi! my use case here is that i am trying to use ax to find the best parameters for language model fusion for ASR decoding. there are typically two parameters to tune: language model weight and a silence weight. these are dependent on each other, meaning that the optimal lm weight for a particular silence weight may not be optimal for a different silence score.

it is also fully deterministic, mean

[2021-02-04 02:35] ldworkin commented on #484
Hi @alexeib! I'm suspicious that this might be a bug, actually. After looking at the code for the plugin, I don't actually think that Ax is considering the observations to be noisy. So it would be great if you could help us investigate the issue further. Even if you can't provide a full repro, maybe you can provide some (anonymized) data that contains the parameter values that were tested and the

[2021-02-04 02:42] Balandat commented on #484
So in our standard API (not via hydra) this is achieved by passing a zero sem for each observation (In Ax, observations are (mean, sem) tuples). You can also pass `NaN` in which case we infer a noise level, or some other sem value if you happen to have access to that. So the user basically can indicate whether observations are noisy or not.

@ldworkin dp you mind pointing me to the place in hydra

[2021-02-04 02:45] alexeib commented on #484
since we are all at fb might be quicker if we coordinate over workchat and i can provide a repro there? will ping you tomorrow!

[2021-02-04 02:47] ldworkin commented on #484
@Balandat I'm looking at https://fburl.com/diffusion/yjdh75kn and making the (possibly wrong) assumption that `rets[i].return_value` is a single scalar, rather than a (mean, sem) tuple.

[2021-02-04 03:06] eytan commented on #484
One thing that I often like to chime in with is that it’s generally not a
good idea to set the noise levels to 0 or super close to 0.  Having a
positive noise (hyper)parameter for the GP helps improve robustness if the
GP model is misspecified.

On Wed, Feb 3, 2021 at 6:47 PM Lili Dworkin <notifications@github.com>
wrote:

[2021-02-04 03:14] Balandat commented on #484
I don't think that's true: https://github.com/facebook/Ax/blob/5e5947db41285713fbf3e50e112235e581f05364/ax/service/utils/instantiation.py#L599-L600

we return `None` as the sem if only a scalar is provided.

[2021-02-04 03:17] ldworkin commented on #484
Oh ok! My mistake.

[2021-02-04 22:33] omry commented on #484
The return value from the function is passed as is so in principle it should be possible for the function to return a `(loss, 0)` to achieve noiseless interpretation.

This will not work with other HPO plugins though, as they are expecting a scalar result.
If the above achieves the desired behavior, we can add a configuration flag to the Ax Sweeper to indicate if the function should be considered

[2021-02-05 01:32] #483 closed

[2021-02-05 11:20] valentin7121 commented on #478
I faced with the same problem. A simple example runs slower on a faster CPU. My benchmark code:

[code]

Results
My laptop:
[code]
Cloud-CPU:
[code]

[code]

[code]

I cann't figure out what is the case of such difference. May be there are somethings with Cloud, but difference in 100x is very strange. Simple [(one-thread) CPU benchmark](https://github.com/Noxmiles/Python-CPU-Benchmark/blob/master/

[2021-02-05 14:29] ldworkin commented on #478
cc @Balandat , were there any underlying changes in PyTorch recently that might have caused this? It sounds like from OP that the slowdown only started recently.

[2021-02-05 14:32] ldworkin commented on #484
Absolutely, that makes sense. Investigating now to see whether switching to noiseless setting actually fixes the problem.

[2021-02-05 15:26] Balandat commented on #478
Not that I am aware of. Our implementations heavily exploit vectorized computations via Intel's MKL, so if that is not available/installed correctly then you'll see significant slowdowns. @valentin7121 can you provide the MKL build setup of both your laptop and the cloud setup?

[2021-02-05 16:35] lena-kashtelyan commented on #471
Hi, @mkhan037, I think customizing expected improvement function might not be a great idea from the model fit standpoint, cc @Balandat for his opinion. We'll prioritize debugging this!

[2021-02-05 17:04] valentin7121 commented on #478
I did not install the MKL manually both on the laptop and on the cloud. I only installed ax-platform with dependecies:
`pip3 install ax-platform`
How can I check MKL setup?
(Laptop OS: Ubuntu 20.04.2 LTS; cloud OS: Ubuntu 18.04.3 LTS)

[2021-02-05 17:18] valentin7121 commented on #478
On Ubuntu 18.04.3 LTS I have the error during installation:
[code]
Could this be the reason for the slowdown?

[2021-02-05 17:36] eytan commented on #484
I’d caution against making the noise level exactly 0 as this will lead to
numerical issues / failures in cases where there are a lot of points and
the data doesn’t perfectly follow a GP.  Max is there some other default
that we might want to suggest?

On Fri, Feb 5, 2021 at 6:33 AM Lili Dworkin <notifications@github.com>
wrote:

[2021-02-05 20:28] ldworkin commented on #484
@omry, this was indeed the issue, so exposing this configuration flag would be the right fix! Is that something Shagun could work on?

@Balandat , re @eytan 's comment above, do you have any thoughts on whether we should use 0 or something else for the noiseless case?

[2021-02-05 20:46] Balandat commented on #484
We already clamp to 1e-7 internally (This is n the standardized output space) : https://github.com/facebook/Ax/blob/0846dc0b60f745b04fb4f65f94522f39424933ef/ax/models/torch/botorch_defaults.py#L44

[2021-02-06 09:49] Kh-im opened #490 "Multi-task with laboratory experiments"
Hi,

I have been trying to use Ax for laboratory experiments optimization with the multi-task tutorial.
I have an offline metric written in python like the one in the tutorial but the online one need several days so I can't use an automatic loop.

After the candidate generation for online problem, I must stop ax, add the results for each candidate manually and restart ax.

I think it may be simila

[2021-02-06 21:08] Balandat commented on #471
Just to make sure I understand: Do you know the memory requirements so that runs don't OOM? Or do you need to estimate that as well?

If these limits are unknown, then you'd have to estimate this binary response (feasible/not feasible). This probably wouldn't work well with our default models. There are specialized strategies for this (see e.g. https://arxiv.org/pdf/1907.10383.pdf), but we current

[2021-02-08 16:32] nwrim opened #491 "Selective noise inference for some observations in field experiment"
Hi! We are a group of social scientists trying to use Bayesian optimizations in our experiment. We are running optimization in a complete field experiment, which means that there are some cases where we are only able to attain a very small number of observations for certain parameters. This means that we cannot get a good estimate of SEM (bootstrapping will give us SEM=0, naturally). Therefore, th

[2021-02-08 16:53] Balandat commented on #491
So one could technically try to infer a noise level selectively for some observations, but that would require changes pretty deep down in the modeling code and would take some time to implement.

To get you off the ground, would it be reasonable to assume that the observation noise is (approximately) homoskedastic (independent of the treatment)? This may be first-order correct if the variance acro

[2021-02-08 17:12] nwrim commented on #491
Unfortunately, the noise might be homoskedastic, so the way you suggested might not work for our case (but I would have to talk with my co-workers). Also, another question we had was whether it would be reasonable to put in a value for `n` when we don't supply a value for the SEM (if we decide that we would like to not supply variance for any of the values). Could you give us some insight on this

[2021-02-08 18:53] mkhan037 commented on #471
Hi @Balandat, thanks for the response. The amount of total cluster memory that avoid OOM can be calculated (it is a formula involving some execution statistics).

Thanks for the suggestion on using  `x_1 * mem(x_1) + ... + x_k * mem(x_k) >= total_cluster_mem_required` as a parameter constraint. However, the number of node types can become large, for example, AWS has general-purpose, compute-optimi

[2021-02-08 21:22] sdsingh commented on #490
Hi there!

I think you're definitely on the right track by following the human-in-the-loop tutorial. High-level, the main change
necessary to the MT tutorial is to save the experiment after online experiment launch. When you're ready to come back with experiment results, you will need to load the experiment and continue the loop.

The online experiments are launched in step 1 and step 6 of the blo

[2021-02-09 06:17] Balandat commented on #491
What exactly is the goal of doing this? Would this be to do some kind of importance weighting of the observations? Currently anything that you pass in that is not either mean or sem will be ignored by our models, so there is no straightforward way to do this (at least currently).

[2021-02-09 06:23] viiids opened #492 "What Acquisition Function does Ax use in Bayesian Optimization and is there a way to customize it?"
I am trying to test a new Acquisition Function which I believe will improve the performance of my search. Is there a way to use a customer Acquisition Function with the existing underlying surrogate model?

[2021-02-09 11:23] nwrim commented on #491
Great, thanks for the answer. The reasoning for doing that was because even though we do not input the variance, we thought that it made sense to say that we are more confident about estimates from a larger sample number (`n`). I think we will have to try to come up with a clever way to impute the sem. Thanks again!

[2021-02-09 18:43] mkhan037 commented on #492
You can take a look at the botorch tutorial for [customizing an acquisition function](https://botorch.org/tutorials/custom_acquisition).

[2021-02-09 19:28] lena-kashtelyan commented on #363
New and improved tutorial: https://github.com/facebook/Ax/blob/master/tutorials/Setup_and_Usage_of_BoTorch_Models_in_Ax.ipynb. We continue the work on this and there will be a more polished version of the tutorial and the new abstractions in the near future, but the current version should be good to work with!

[2021-02-09 19:29] lena-kashtelyan commented on #492
Hi, @viiids! We use Noisy Expected Improvement acquisition function by default, more on this here: https://ax.dev/docs/models.html#gaussian-process-with-ei. It's definitely possible to customize the acquisition function; the BoTorch tutorial @mkhan037 links above should help, and also https://github.com/facebook/Ax/issues/363 is a relevant discussion, as we are adding new abstractions in Ax to fac

[2021-02-09 19:31] Kh-im commented on #490
Thanks for your comment, I think, it's working. I am going to do more tests.

Regards

[2021-02-09 19:31] #490 closed

[2021-02-10 15:59] lena-kashtelyan commented on #492
I'm going to close this as answered, but please feel free to reopen if you have follow-up questions (or direct them to #363 if they are about the new abstractions we are adding for acquisition function and surrogate model customization), @viiids!

[2021-02-10 15:59] #492 closed

[2021-02-10 17:15] lena-kashtelyan commented on #439
It seems that this is likely fixed in master, so marking this accordingly. We will be releasing a stable version including the fix soon.

[2021-02-10 20:05] viiids commented on #492
Thank you @lena-kashtelyan and @mkhan037. I think I got what I needed for now.

[2021-02-12 04:23] justinkterry opened #494 "[Question] Mixing Continuous and Discrete Spaces"
Hey, I'd like to use Ax for hyperparameter tuning for an RL problem I'm working on. Some values are continuous, some are a list of options, and some are continuous integers.

Many other bayesian optimization libraries are able to handle all these spaces at once, however if I'm reading the documentation correctly Ax does not. In this case should I just discretize my continuous spaces and use bandit

[2021-02-12 12:22] ldworkin commented on #494
Hi @justinkterry ! What part of our documentation makes you think we can't handle this kind of search space? We should definintely be able to! We'll use BayesOpt to model the continuous numeric parameters (that will work regardless of whether they are floats or ints). The parameters that are lists of options won't be optimized via BayesOpt, but they'll still be included in the search space and exp

[2021-02-12 16:06] justinkterry commented on #494
Your bandit optimization page explicitly says they can only do discrete cases. After rereading you're right that the bayesian page doesn't say that, though a sentence clarifying the space domains for it might be useful for clarity.

Also, could you please elaborate on what you mean by "The parameters that are lists of options won't be optimized via BayesOpt, but they'll still be included in the se

[2021-02-12 16:16] ldworkin commented on #494
Yes, we should definitely clarify on the Bayesian optimization page that as long as you have one continuous numeric parameter, BayesOpt will work!

For your second question, let me tag in @Balandat , who can better explain how our models currently handle mixed search spaces (and can also describe some active/ongoing work we have to improve this).

[2021-02-12 17:05] Balandat commented on #494
We currently handle discrete parameters in the following way:
1. ordered discrete parameters (e.g integers): We perform a continuous relaxation, and model / optimize in this relaxed space, then round to the available values
2. categorical parameters (e.g. lists of choices): We one-hot encode these in the model and also perform continuous optimization of the one-hot encoded model.

Both approaches

[2021-02-12 17:19] justinkterry commented on #494
"Both approaches for 1. and 2. have drawbacks, but as long as the cardinality of the discrete space is not huge they will work reasonably well."

I have a 10D problem, with a 0-125 int space a 0-4092 int space, a [2,4,6,8] space and 7 very large continuous spaces. I assume that's fine for the current approaches?

[2021-02-12 17:20] justinkterry opened #495 "[Feature Request] Documentation for"

[2021-02-12 17:21] #495 closed

[2021-02-12 17:38] justinkterry opened #496 "[Feature Request] Performance Benchmarks in Documentation"
So I'm currently trying do hyperparameter tuning RL problem that's kind of a worst case scenario. It's a 10D space, trials are terribly expensive and noisy, and for 3 hyperparameters (including the 2 most important ones) we really have no idea what the value should be so the bounds are very large. The last point means I presumably need to use bayesian or genetic algorithm methods instead of random

[2021-02-12 18:18] lena-kashtelyan commented on #494
cc @Balandat

[2021-02-12 18:22] lena-kashtelyan commented on #496
I don't believe we currently have benchmarks ready on-hand for Ax, but we might have them for BoTorch (methods library Ax uses under the hood). @Balandat, might you be aware of such benchmarks? I also know that making trial number recommendation is tricky as the problems can really vary, but will let @Balandat chime in on that as well. I believe 100 trials should be a good place to start for this

[2021-02-12 18:27] lena-kashtelyan commented on #478
cc @Balandat

[2021-02-12 18:59] Balandat commented on #494
Yeah I think that should be ok, the two large int spaces have so many values that the continuous relaxation should work very well for them.

What API are you planning to use? @lena-kashtelyan we'll want to make sure this doesn't get defaulted to using Sobol somehow.

[2021-02-12 20:15] lena-kashtelyan commented on #494
@Balandat, I actually just checked to make sure it won't and it indeed won't –– GPEI will be selected by default.

@justinkterry, what @Balandat is referring to there is our automatic choice of optimization model that is done in Service and Loop APIs. We determine whether we should be using Bayesian optimization or quasi-random generation based on properties of search space, since Bayesian optimiz

[2021-02-12 20:17] lena-kashtelyan commented on #494
It seems like the only outstanding item here is to make it clearer in our docs for BayesOpt that it does support choice parameters, but works better when at least one range parameter is present and best when there are more range parameters than discrete values.

[2021-02-14 01:32] Balandat commented on #478
I doubt it - this just installs a much newer pytorch version, so that should be ok.

Can you paste the output of the following?
[code]

[2021-02-14 01:38] Balandat commented on #496
We have some BoTorch benchmarks published in https://arxiv.org/abs/1910.06403, though not terribly comprehensive.

A 10D space should be well manageable with our methods. We often get good results in less than 100 trials, though it depends very much on the hardness of the problem (shape of the response surface, noise level of the observations). It's definitely worth a shot throwing Ax with standar

[2021-02-14 14:56] justinkterry commented on #496
@Balandat I can actually arbitrarily make my observations cheaper at the expense of more noise, down to the limit where they're virtually free but are literally pure noise. My current expensive runs are approximately the cheapest that could plausibly give sufficient information to make a legitimate decision about the quality of the hyperparameters.

Could you tell me a little more about what you'r

[2021-02-14 16:38] Balandat commented on #496
The basic idea of multi-fidelity optimization is to use cheaper, but potentially less valuable observations to efficiently optimize the function at "full fidelity". Typically, there is some "fidelity parameter" (in your case that might be the amount of data, or some number of monte-carlo samples in some simulation) that one can choose to evaluate the function at less cost.

The main goal is to use

[2021-02-14 16:42] Balandat commented on #496
You may also want to take a look at the discussion in #475

[2021-02-15 08:59] valentin7121 commented on #478
PyTorch config is the same both on the laptop and on the cloud:

[code]

After rebuilding the OS image (Cloud), the problem seems to be solved. Even though the PyTorch configuration hasn't changed. Now 3-core Cloud-CPU in the same benchmark shows:

[code]

Thank you!

[2021-02-15 19:48] Balandat commented on #478
Interesting. Might have been a one-off issue with the cloud machine. Let us know if this re-occurs.

[2021-02-15 19:48] #478 closed

[2021-02-15 23:25] justinkterry opened #498 "How to run complex trial evaluations in Ax (when a given parameterization is not just evaluated via one function in notebook)"
The function which I'm evaluating can't just pass "parameterization" to a net function like in pytorch, it has to take elements of the parameters list and send them to various locations. This is presumably a reasonably normal use case, but I don't believe you document how to do this anywhere.

[2021-02-15 23:32] justinkterry opened #499 "I think somethings wrong with the discussion of MKL in the documentation"
In the readme, you say:

"_Recommendation for MacOS users_: PyTorch is a required dependency of BoTorch, and can be automatically installed via pip. However, **we recommend you install PyTorch manually before installing Ax, using the Anaconda package manager.** Installing from Anaconda will link against MKL (a library that optimizes mathematical computation for Intel processors). This will result

[2021-02-16 00:37] justinkterry opened #500 "How to save Ax objects"
The hyperparameter run I intend to use will run for a very long time, so I would need to just save the ax object so that I can do things like generate plots and use the .get_best_parameters() method later. The documentation/examples don't specify anything about this (and perhaps should?); should I just use cloud pickle like I normally would or is there subtly here that I need to be aware of?

[2021-02-16 06:34] Balandat commented on #499
It does, but the Linux pip install should properly take care of that. However, it is (or a least was) a known issue that a `pip install` on the Mac would yield binaries linked against the Mac BLAS/ATLAS libraries rather than Intel's MKL, hence we call out that gotcha explicitly.

Depends on how expensive your jobs are, in the classic setting of very expensive/long function evaluations Bayesian Opt

[2021-02-16 08:41] justinkterry commented on #499
Thanks a ton

[2021-02-16 08:46] justinkterry commented on #499
Thanks a ton; it would appear that I was wrong here.

[2021-02-16 08:47] #499 closed

[2021-02-16 16:13] lena-kashtelyan commented on #500
@justinkterry, which API are you using? If you are using the Service API, the this section of the tutorial will walk you through the storage practices for storage 1) to SQL backend or 2) to a JSON file.

[2021-02-16 16:17] lena-kashtelyan commented on #498
@justinkterry, have you looked over our tutorials? It's hard to understand the issue you are running into without more specificity in your request. If you are referring to this tutorial: https://ax.dev/tutorials/tune_cnn.html, then the evaluation function there (simple example shown in this cell: https://ax.dev/tutorials/tune_cnn.html#2.-Define-function-to-optimize) could be any arbitrary function

[2021-02-16 16:25] #494 closed

[2021-02-16 16:38] lena-kashtelyan commented on #471
Update on this: abandoning trials not working was in fact a bug, and the fix should be on master today. Thank you for pointing it out, @mkhan037!

[2021-02-16 16:45] justinkterry commented on #500
I missed this, my apologies.

[2021-02-16 16:45] #500 closed

[2021-02-16 17:06] justinkterry commented on #498
So I have looked through your tutorials. The other question was because I missed something, but I think this one is somewhat legitimate.

The answer to my question after referring to source was just that the parameterization is a dictionary keyed by the parameter names in create experiment. This is useful knowledge if the function you're searching needs to take individual parameters and do things

[2021-02-16 17:09] LukeAI opened #501 "Noisy objective function not taken into account in `SimpleExperiment` when suggesting best parameters"
I've been doing ax hyperparameter optimisation for a DNN doing regression on images like this:

[code]

and I have found that the "best parameters" recommended by ax tend to not change very much. This suggests that ax is giving me the hyperparameters that were evaluated and found to give the best result.

The problem with this is that the best results tend to be flukes - the training process is of

[2021-02-16 17:11] #498 closed

[2021-02-16 17:18] lena-kashtelyan commented on #498
@justinkterry, good to know, I'll note this in our list of planned improvements to the docs : )

[2021-02-16 17:39] stevemandala commented on #501
Hey @LukeAI, thanks for raising this. I believe this was caused by a bug in simple experiment assuming 0.0 SEM. We recently pushed a fix on master, which should ensure we don't default to noise-less modeling when SEM isn't provided: https://github.com/facebook/Ax/commit/f6ccdd7be3cfff835fe2b75feaad6a800a1378ea

[2021-02-16 18:50] lena-kashtelyan commented on #471
The fix for this is now on master as of f6457e6; we will be releasing a new stable version imminently as well.

[2021-02-16 21:52] mkhan037 commented on #471
Hi @lena-kashtelyan , thanks for taking the time to fix the bug! I will check out the master branch and test later. In the meantime feel free to close this issue.

[2021-02-17 09:56] LukeAI commented on #501
@stevemandala  ok, thanks for reply!
In the meantime how can I set SEM? It doesn't appear to be in the [constructor](https://ax.dev/api/core.html#module-ax.core.simple_experiment)

[2021-02-18 15:42] lena-kashtelyan commented on #501
@LukeAI, you'd have to apply this change: https://github.com/facebook/Ax/commit/f6ccdd7be3cfff835fe2b75feaad6a800a1378ea#diff-58c442e1539c8eedb46f78c90254cd976fb7462c0413543fa1c402cd5c6d5f3bR199-R201 to the `SimpleExperiment` code.

[2021-02-18 15:54] LukeAI commented on #501
hmm. ok... do you know when the patch will come through on pip?

[2021-02-18 17:39] lena-kashtelyan commented on #501
@LukeAI, the patch should be part of the new stable version (and therefore on pip) within the next two weeks. In the meantime, you could install Ax master like this if you wanted: https://github.com/facebook/Ax#latest-version.

A good alternative would be to just not use `SimpleExperiment`, as it is intended for deprecation in favor of the Service API in the near future in any case.

[2021-02-18 17:43] lena-kashtelyan commented on #180
https://github.com/facebook/Ax/issues/199 has another example of custom generation strategy; linking here just in case someone looking for that example checks out that issue.

[2021-02-24 12:12] XRen615 opened #506 "Abandoned arms and trials are not excluded from modeling data"
hey guys, thanks for offering such a great lib!

In case I found the data of an already completed arm is invalid, how can I remove it to make sure the model prediction is not effected by this invalid arm?

I tried to abandon this arm like
`experiment.trials[0].mark_arm_abandoned(arm_name='0_0')`
but seems the abandoned arm is still taken into account in model fit process.

Thanks in advance :)

[2021-02-24 14:34] ldworkin commented on #506
Hi @XRen615 ! Marking the arm abandoned is indeed the right way to do this. When you say "it seems the abandoned arm is still taken into account in model fit process", what makes you think that?

[2021-02-24 17:04] lena-kashtelyan commented on #501
This should now be fixed in latest stable release, 0.1.20.

[2021-02-24 17:04] #501 closed

[2021-02-24 17:05] lena-kashtelyan commented on #471
This should now be fixed in latest stable release, 0.1.20.

[2021-02-24 17:05] #471 closed

[2021-02-24 17:05] lena-kashtelyan commented on #439
This should now be fixed in latest stable release, 0.1.20.

[2021-02-24 17:05] #439 closed

[2021-02-24 19:22] ldworkin commented on #457
Fixed on stable now! https://ax.dev/versions/latest/tutorials/raytune_pytorch_cnn.html

[2021-02-24 19:22] #457 closed

[2021-02-24 20:30] justinkterry commented on #153
@lena-kashtelyan @Balandat I have a practical constraint that I don't believe can be sensibly supported without nonlinear constraints: 20*n_envs*n_steps) % nminibatches == 0. That's a fairly common constraint in reinforcement learning. While work arounds exist, they're super hacky and  make the search space much less smooth.

I can also explain where that constraint comes from if you'd like.

[2021-02-24 22:10] lena-kashtelyan commented on #153
I'd be curious to hear @Balandat's thoughts on this one.

[2021-02-24 23:39] justinkterry opened #510 "[Feature Request] Support Exact Equality Parameter Constraints"
Right now Ax only supports <= or >= as parameter constraints. Most hacks that refactor of my constraint of #153 to make it linear still requires a ==, and in general I believe such constraints are common in LPs and operations research type problems.

It's my understanding support for this is distinct and much simpler from supporting nonlinear constraints, which is why I created a separate issue.

[2021-02-25 01:05] nwrim commented on #491
Hello again! We have been running a small pilot related to this issue and wanted to see if the developers or anyone else has a suggestion/recommendation on a problem we are encountering.

To briefly summarize our situation (although it was mentioned a bit in the first issue post), we are planning to do a field experiment that we aim to test some combination of parameters with human subjects (aimin